html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

.body {
    margin: 0;
    font-family: Oswald, sans-serif;
}

a {
    background-color: transparent
}

a:active,a:hover {
    outline: 0
}

img {
    border: 0
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    height: 100%
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: Arial,sans-serif;
    font-size: 0.7rem;
    line-height: 1.45em;
    color: #333
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block
}

p {
    margin-top: 0;
    margin-bottom: 10px
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.w-container:before,.w-container:after {
    content: " ";
    display: table
}

.w-container:after {
    clear: both
}

@media screen and ( max-width: 1441px) {
    .w-container {
        max-width: 80%;
    }
}

/* ----------- S Tab 10.1 Potrait ----------- */

@media screen and ( max-width: 800px) {
    .w-container {
        max-width: 85%;
    }
}


/* ==========================================================================
   Start of custom CSS
   ========================================================================== */

.main-section {
    position: relative;
    left: 0px;
    top: 0px;
    height: 100vh;
    background-image: url("../News/img/boysbrigade.jpg");
    background-position: 50% 100%;
    background-size: cover;
    font-family: Merriweather, serif;
    color: #fff;
    font-weight: 700;
}

.transparent-layer {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    background-color: rgba(0, 0, 0, .20);
}

.share-pgraph {
    font-size: 1.5rem;
    line-height: 1.3em;
}
.verse-container {
    position: absolute;
    top: 10%;
    display: block;
    width: 100%;
    height: 90%;
    padding-top: 20%;
    text-align: center;
}

.verse-container:hover {
    border-radius: 4px;
}

.verse-pgraph {
    margin-bottom: 0px;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 1.5rem;
    line-height: 1.2em;
}

.verse-pgraph, .scroll-down {
    font-weight: 300;
}

.scroll-down {
    display: inline-block;
    font-size: 1rem;
    line-height: 1em;
    margin: 0;
}

.scroll-down img {
    width: 25px;
    margin-left: 5px;
}

.share-info {
    padding: 30px 0;
    background-color: #000;
    color: #fff;
}

.share-container {
    text-align: center;
}

.share-button {
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    line-height: 1em;
    color: white;
    border-radius: 4px;
    background-color: #23B5D3;
    padding: 0.6em 0.8em;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    -o-transition: transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
}

.share-button:hover {
    background-color: #EA526F;
}

.web__share {
    display: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: -webkit-transform 0.35s ease;
    transition: -webkit-transform 0.35s ease;
    -o-transition: transform 0.35s ease;
    transition: transform 0.35s ease;
    transition: transform 0.35s ease, -webkit-transform 0.35s ease;
}

.share-icon {
    display: inline-block;
    width: 2.2em;
    height: 2.2em;
    line-height: 2.2em;
    font-size: 1rem;
    text-align: center;
    border-radius: 50%;
    text-decoration: none;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: 0;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.share-icon:hover,
.share-icon:focus {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.facebook {
    background-color: #3b5998;
}

.twitter {
    background-color: #00abe3;
}

.googleplus {
    background-color: #d3492c;
}

.whatsapp {
    background-color: #25D366;
}

.facebook,
.twitter,
.googleplus,
.whatsapp {
    color: #fff;
}

.facebook:hover,
.twitter:hover,
.googleplus:hover,
.whatsapp:hover {
    color: #eee;
}

.slide-container {
    background-color: black;
}
.pic1 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609284/BoysBrigade/BB1.jpg");
}

.pic2 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609296/BoysBrigade/BB2.jpg");
}

.pic3 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609297/BoysBrigade/BB3.jpg");
}

.pic4 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609296/BoysBrigade/BB4.jpg");
}

.pic5 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609341/BoysBrigade/BB5.jpg");
}

.pic6 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609349/BoysBrigade/BB6.jpg");
}

.pic7 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609335/BoysBrigade/BB7.jpg");
}

.pic8 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609349/BoysBrigade/BB8.jpg");
}

.pic9 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609364/BoysBrigade/BB9.jpg");
}

.pic10 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609405/BoysBrigade/BB10.jpg");
}

.pic11 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609365/BoysBrigade/BB11.jpg");
}

.pic12 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609384/BoysBrigade/BB12.jpg");
}

.pic13 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609391/BoysBrigade/BB13.jpg");
}

.pic14 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609390/BoysBrigade/BB14.jpg");
}

.pic15 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609400/BoysBrigade/BB15.jpg");
}

.pic16 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609409/BoysBrigade/BB16.jpg");
}

.pic17 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609409/BoysBrigade/BB17.jpg");
}

.pic18 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609410/BoysBrigade/BB18.jpg");
}

.pic19 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609261/BoysBrigade/BB19.jpg");
}

.pic20 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609260/BoysBrigade/BB20.jpg");
}

.pic21 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609259/BoysBrigade/BB21.jpg");
}

.pic22 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609308/BoysBrigade/BB22.jpg");
}

.pic23 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609269/BoysBrigade/BB23.jpg");
}

.pic24 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609284/BoysBrigade/BB24.jpg");
}

.pic25 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609298/BoysBrigade/BB25.jpg");
}


.pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7, .pic8, .pic9, .pic10, .pic11, .pic12, .pic13, .pic14, .pic15, .pic16, .pic17, .pic18, .pic19, .pic20, .pic21, .pic22, .pic23, .pic24, .pic25 {
    height: 100vh;
    width: 100%;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.pic-container {
    padding-top: 80vh;
    text-align: center;
}

.slide-heading {
    display: inline-block;
    font-size: 1rem;
    color: white;
    background-color: rgba(0,0,0,0.5);
    border-radius: 4px;
    font-weight: 400;
    padding: 10px 20px;
    margin: 0;
    position: absolute;
    bottom: 80px;
    left: 46.5%;
}
.adjust-space {
    left: 46.1%;
}
.fp-tableCell {
        position: relative;
    }

.fp-controlArrow.fp-prev {
    border-color: transparent rgba(250, 250, 250, 1) transparent transparent !important;
}

.fp-controlArrow.fp-next {
    border-color: transparent transparent transparent rgba(250, 250, 250, 1) !important;
}

.share-pgraph {
    padding-bottom: 20px;
    margin-bottom: 0;
}

.youtube {
    position: relative;
    background-color: black;
}
.youtube .fp-tableCell {
    text-align: center;
}
.youtube iframe {
    height: 100vh;
    width: 100%;
}

.footer {
    height: 60px !important;
    background-color: black;
    color: #fff;
}

.footer.section .fp-tableCell {
    height: 60px !important;
}

.footer-container {
   
    position: unset;
    top: unset;
    -webkit-transform: unset;
    -ms-transform: unset;
        transform: unset;
    
}

.social-icons {
    -webkit-transform: unset;
        -ms-transform: unset;
            transform: unset;
}

@media screen and ( max-width: 380px) {
    .social-icons {
        -webkit-transform: perspective(1px) translateY(-8%) !important;
        transform: perspective(1px) translateY(-8%) !important;
    }
}

.scroll-container, .scroll2-container, .scroll4-container {
    position: absolute;
    bottom: 20px;
    width: 100%;
    z-index: 1000
}

.scroll2-container, .scroll4-container {
    display: block;
    text-align: center;
}

.scroll2-container h1, .scroll4-container a {
    font-size: 0.9rem;
    border-radius: 4px;
}

.scroll4-container .tooltiptext {
    position: absolute;
    visibility: hidden;
    width: 160px;
    font-size: 0.8rem;
    background-color: rgba(59,89,152,1);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 8px 14px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.scroll4-container .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(59,89,152,1) transparent transparent transparent;
}

.scroll4-container:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.scroll4-container a {
    color: rgba(59,89,152,1);
    background: rgba(246,246,246, 1);
    font-weight: bold;
    padding: 10px 15px 8px;
    width: 180px;
    text-align: left;
}

.scroll4-container a:hover {
    background: white;
}

.scroll4-container a {
    position: relative;
}

.scroll4-container a img {
    right: 10px;
    position:absolute;
    top: 5px;
    width: 25px;
}

@media screen and (max-width: 1441px) and (orientation: landscape) {
    .verse-container {
        padding-top: 25%;
    }
    .verse-pgraph {
        font-size: 1.4rem;
    }
    .scroll2-container {
        bottom: 20px;
    }
    .scroll4-container {
        bottom: 13px;
    }
    .scroll4-container a {
        width: 208px;
    }
    .scroll4-container a img {
        width: 28px;
        top: 6px;
    }
    .slide-heading {
        left: 45.5%;
        bottom: 65px;
    }
    .adjust-space {
        left: 45.4%;
    }
}

@media screen and ( max-width: 1370px) and (orientation: landscape) {
    .scroll4-container {
        bottom: 8px;
    }
    .scroll4-container a {
        width: 212px;
    }
    .scroll4-container a img {
        width: 28px;
        top: 7px;
    }
    .adjust-space {
        left: 45%;
    }
}

@media screen and ( max-width: 1370px) and (max-height: 670px) {
    .scroll4-container a {
        width: 180px;
    }
    .scroll4-container a img {
        width: 25px;
        top: 6px;
    }
    .slide-heading {
        left: 46%;
    }
    .adjust-space {
        left: 45.4%;
    }
}

@media screen and ( max-width: 1281px ) and ( max-height: 951px ) {
    .scroll4-container a {
        width: 193px;
    }
    .scroll4-container a img {
        top: 5px;
    }
    .slide-heading {
        left: 45.5%;
    }
    .adjust-space {
        left: 44.6%;
    }
}

@media screen and ( max-width: 1280px) and (max-height: 800px) {
    .scroll4-container {
        bottom: 10px;
    }
    .scroll4-container a {
        width: 180px;
    }
    .scroll4-container a img {
        width: 25px;
        top: 6px;
    }
    .slide-heading {
        left: 45.7%;
    }
    .adjust-space {
        left: 45.5%;
    }
}

@media screen and ( max-width: 1280px) and (max-height: 670px) {
    .scroll4-container {
        bottom: 15px;
    }
    .scroll4-container a {
        width: 178px;
    }
    .scroll4-container a img {
        width: 24px;
        top: 6px;
    }
}
@media screen and ( max-width: 1100px) {
    .scroll2-container {
        bottom: 25px;
    }
    .scroll4-container a {
        width: 147px;
        padding: 10px 15px;
    }
    .scroll4-container a img {
        width: 23px;
        top: 5px;
    }
}

@media screen and ( max-width: 1024px) {
    .slide-heading {
        bottom: 150px;
        padding: 15px 20px;
        left: 42.5%;
        font-size: 1.2rem;
    }
    .adjust-space {
        left: 42%;
    }
    .fp-controlArrow {
        top: unset !important;
        bottom: 155px !important;
    }
    .fp-controlArrow.fp-prev {
        left: 35% !important;
        border-width: 20.5px 15px 20.5px 0 !important;
    }

    .fp-controlArrow.fp-next {
        right: 35% !important;
        border-width: 20.5px 0 20.5px 15px !important;
    }
    .scroll-down, .scroll2-container h1, .scroll4-container a {
        font-size: 1.1rem;
    }
    .scroll4-container a {
        width: 285px;
        padding: 15px 20px 11px;
    }
    .scroll4-container a img {
        width: 38px;
        top: 10px;
    }
    .scroll4-container .tooltiptext {
        font-size: 1rem;
        line-height: 1.2em;
        width: 220px;
        padding: 15px 8px;
        left: 47%;
    }
   .scroll2-container, .scroll4-container {
        bottom: 30px;
    }
}

@media screen and ( max-width: 1024px) and ( max-height: 770px) {
    .scroll-down, .scroll2-container h1, .scroll4-container a {
        font-size: 1rem;
    }
    .slide-heading {
        bottom: 80px;
        left: 44%;
    }
    .fp-controlArrow {
        bottom: 85px !important;
    }
    .scroll4-container {
        bottom: 15px;
    }
    .scroll4-container a {
        width: 200px;
    }
    .scroll4-container a img {
        width: 28px;
    }
    .scroll4-container .tooltiptext {
        line-height: 1.2em;
        padding: 15px;
    }
    .adjust-space {
        left: 44%;
    }
}

@media screen and ( max-width: 1024px) and ( max-height: 510px) {
    .scroll-down {
        font-size: 1.1rem;
    }
    .scroll2-container h1, .scroll4-container a {
        font-size: 1rem;
    }
    .scroll4-container a {
        width: 170px;
        padding: 14px 20px 12px;
    }
    .scroll4-container a img {
        width: 26px;
        top: 9px;
    }
    .slide-heading {
        left: 45.2%;
    }
    .fp-controlArrow {
        top: 55% !important;
        bottom: unset !important;
    }
    .fp-controlArrow.fp-prev {
        left: 15px !important;
        border-width: 38.5px 34px 38.5px 0;
    }
    .fp-controlArrow.fp-next {
        right: 15px !important;
        border-width: 38.5px 0 38.5px 34px;
    }
    .adjust-space {
        left: 44.3%;
    }
}

@media screen and ( max-width: 800px) and (max-height: 1140px) {
    .scroll-down, .scroll2-container h1, .scroll4-container a  {
        font-size: 1rem;
    }
    .slide-heading {
        font-size: 1.2rem;
        left: 41%;
    }
    .adjust-space {
        left: 40%;
    }
    .scroll4-container a {
        width: 262px;
    }
    .scroll4-container a img {
        width: 35px;
        top: 10px;
    }
}

@media screen and ( max-width: 768px ) {
    .slide-heading {
        left: 40.5%;
        bottom: 85px;
    }
    .adjust-space {
        left: 39.4%;
    }
    .fp-controlArrow {
        bottom: 90px !important;
    }
    .scroll4-container {
        bottom: 15px;
    }
    .scroll4-container a {
        width: 265px;
    }
}

@media screen and ( max-width: 610px ) and ( max-height: 940px ) {
    .slide-heading {
        left: 39.9%;
        padding: 10px 15px;
        font-size: 1rem;
    }
    .adjust-space {
        left: 38.6%;
    }   
    .scroll-down, .scroll2-container h1, .scroll4-container a {
        font-size: 0.8rem;
    }
    .scroll4-container a {
        width: 222px;
    }
    .scroll4-container a img {
        width: 32px;
        top: 9px;
    }
    .fp-controlArrow {
        bottom: 88px !important;
    }
}

@media screen and ( max-width: 420px ) and ( max-height: 740px ) {
    .scroll-down img {
        width: 20px;
    }
    .slide-heading {
        left: 39%;
    }
    .adjust-space {
        left: 38%;
    }
    .scroll2-container {
        bottom: 15px;
    }
    .scroll-container {
        font-size: 0.9rem;
        bottom: 15px;
    }
    .slide-heading {
        font-size: 1rem;
    }
    .scroll4-container {
        bottom: 20px;
    }
    .scroll2-container h1 {
        font-size: 0.7rem;
    }
    .scroll4-container a {
        font-size: 0.7rem;
    }
    .fp-controlArrow {
        bottom: 86px !important;
    }
    .fp-controlArrow.fp-prev {
        left: 25% !important;
        border-width: 18.5px 13px 18.5px 0 !important;
    }  
    .fp-controlArrow.fp-next {
        right: 25% !important;
        border-width: 18.5px 0 18.5px 13px !important;
    }
    .scroll4-container a {
        width: 150px;
        padding: 13px 15px 11px;
    }
    .scroll4-container a img {
        width: 23px;
        top: 7px;
    }
    .scroll4-container .tooltiptext {
        font-size: 0.9rem;
        padding: 10px;
    }
}

/* ----------- Galaxy Note 5 ----------- */

@media screen and ( max-width: 420px ) and ( max-height: 655px ) {
    .scroll4-container a {
        width: 150px;
    }
    .scroll4-container a {
        padding: 13px 15px 9px;
    }
    .scroll-down, .scroll2-container h1 {
        font-size: 0.7rem;
    }
}

@media screen and ( max-width: 420px ) and ( max-height: 630px ) {
    .slide-heading {
        bottom: 70px;
        left: 39.6%;
    }
    .fp-controlArrow {
        bottom: 70px !important;
    }
    .scroll4-container a {
        width: 138px;
    }
    .scroll4-container a img {
        width: 21px;
        top: 7px;
    }
    .adjust-space {
        left: 39%;
    }
}

@media screen and ( max-width: 380px ) and ( max-height: 670px ) {
    .slide-heading {
        bottom: 85px;
        left: 38%;
    }
    .fp-controlArrow {
        bottom: 85px !important;
    }
    .adjust-space {
        left: 37%;
    }
    .scroll2-container {
        bottom: 30px;
    }
    .scroll4-container a {
        padding: 13px 15px 9px;
    }
    .scroll4-container a img {
        width: 21.5px;
        top: 7px;
    }
}

@media screen and ( max-width: 360px ) and ( max-height: 670px ) {
    .slide-heading {
        bottom: 95px;
        left: 37%;
    }
    .adjust-space {
        left: 36%;
    }
    .fp-controlArrow {
        bottom: 95px !important;
    }
    .scroll2-container {
        bottom: 15px;
    }
}

@media screen and ( max-width: 360px) and ( max-height: 640px) {
    .slide-heading {
        font-size: 0.9rem;
    }
}

@media screen and ( max-width: 360px ) and ( max-height: 570px ) {
    .slide-heading {
        bottom: 60px;
        left: 38.5%;
    }
    .adjust-space {
        left: 37.5%;
    }
    .fp-controlArrow {
        bottom: 60px !important;
    }
    .scroll4-container {
        bottom: 10px;
    }
}

@media screen and ( max-width: 320px) and ( max-height: 568px) {
    .slide-heading {
        bottom: 80px;
        left: 37.5%;
    }
    .adjust-space {
        left: 36.5%;
    }
    .fp-controlArrow {
        bottom: 80px !important;
    }
    .scroll4-container {
        bottom: 20px;
    }
}

@media screen and ( max-width: 320px ) and ( max-height: 480px ) { 
    .slide-heading {
        bottom: 60px;
    }
    .fp-controlArrow {
        bottom: 60px !important;
        top: unset !important;
    }
    .scroll4-container {
        bottom: 10px;
    }
}


/* ----------- Laptop with HiDPI ----------- */

@media screen and ( max-width: 1441px) and (orientation: landscape) {
    html{font-size: 24px;}
    .share-info {
        padding: 40px 0;
    }
}

/* ----------- iPad Pro Landscape ----------- */

@media screen and ( max-width: 1370px) and (orientation: landscape) {
    html {font-size: 25px;}
    .verse-container {
        padding-top: 25%;
    }
}

/* ----------- Aspire E1 Laptop Landscape ----------- */

@media screen and ( max-width: 1370px) and (max-height: 670px) {
    html {font-size: 20px;}
    .verse-container {
        padding-top: 15%;
    }
}

/* ----------- Laptop with Touch ----------- */

@media screen and ( max-width: 1280px) {
    html {font-size: 22px;}
    .verse-container {
        padding-top: 30%;
    }
}


/* ----------- Laptop with MDPI screen----------- */

@media screen and ( max-width: 1280px) and (max-height: 800px) {
    html {font-size: 20px;}
    .verse-container {
        padding-top: 25%;
    }
}

/* ----------- S Tab 10.1 Landscape ----------- */

@media screen and ( max-width: 1280px) and (max-height: 670px) {
    .verse-container {
        padding-top: 15%;
    }
}

/* ----------- Aspire V3 Laptop Landscape ----------- */

@media screen and ( max-width: 1100px) {
    html {font-size: 15px;}
    .share-info {
        padding: 30px 0;
    }
}

/* ----------- iPad Pro Potrait------------------*/

@media screen and ( max-width: 1024px) {
    html {font-size: 28px;}
    .verse-container {
        padding-top: 45%;
    }
    .verse-pgraph {
        font-size: 1.4rem;
    }
    .share-button, .share-icon {
        font-size: 1.2rem;
    }
    .share-info {
        padding: 50px 0;
    }
    .share-pgraph {
        padding-bottom: 35px;
    }
    .youtube iframe {
        height: 60vh;
        width: 100%;
    }
    .main-section {
        background-position: 75% 70%;
    }
}

/* ----------- iPad Landscape ----------- */

@media screen and ( max-width: 1024px) and ( max-height: 770px) {
    html {font-size: 20px;}
    .verse-container {
        padding-top: 26%;
    }
    .verse-pgraph {
        font-size: 1.3rem;
    }
    .share-info {
        padding: 40px 0;
    }
    .share-pgraph {
        padding-bottom: 25px;
    }
}

/* ----------- iPad Mini 4 Landscape ----------- */

@media screen and ( max-width: 1024px) and ( max-height: 680px) {
    .verse-container {
        padding-top: 20%;
    }
}

/* ----------- Lenova IdeaPad Laptop Landscape ----------- */

@media screen and ( max-width: 1024px) and ( max-height: 510px) {
    html {font-size: 16px;}
    .verse-container {
        padding-top: 18%;
    }
    .share-info {
        padding: 30px 0;
    }
    .share-pgraph {
        padding-bottom: 20px;
    }
    .youtube iframe {
        height: 100vh;
        width: 100%;
    }
}


/* ----------- S Note 8.0 Landscape ----------- */

@media screen and ( max-width: 970px) and (max-height: 490px) {
    .verse-container {
        padding-top: 14%;
    }
}


/* ----------- S Tab 10.1 Potrait ----------- */

@media screen and ( max-width: 800px) and (max-height: 1140px) {
    .verse-container {
        padding-top: 40%;
    }
    .verse-pgraph {
        font-size: 1.2rem;
        line-height: 1.25em;
        padding-bottom: 25px;
    }
    .share-pgraph {
        font-size: 1.2rem;
    }
    .share-button, .share-icon {
        font-size: 1rem;
    }
    
    .youtube iframe {
        height: 50vh;
        width: 100%;
    }
}

/* ----------- iPad Potrait----------- */

@media screen and ( max-width: 768px) {
    .verse-container {
        padding-top: 32%;
    }
}

/* ----------- iPad Mini4 Potrait----------- */

@media screen and ( max-width: 768px) and (max-height: 930px) {
    .verse-container {
        padding-top: 26%;
    }
    .verse-pgraph {
        font-size: 1.15rem;
    }
}

/* ----------- iPone 6 Plus Landscape ----------- */

@media screen and ( max-width: 740px) and (max-height: 420px) {
    .verse-container {
        padding-top: 17%;
    }
    .verse-pgraph {
        padding-bottom: 5px;
    }
    .scroll-down {
        font-size: 1rem;
    }
    .share-pgraph {
        font-size: 1.2rem;
    }
    .share-button, .share-icon {
        font-size: 1rem;
    }
}

/* ----------- S Galaxy S5 ----------- */

@media screen and ( max-width: 640px) and (max-height: 360px) {
    .verse-container {
        padding-top: 15%;
    }
}

/* ----------- iPhone 7 Landscape ----------- */

@media screen and ( max-width: 635px) and (max-height: 420px) {
    .verse-container {
        padding-top: 22%;
    }
}

/* ----------- S Note 8.0 Potrait include Address bar----------- */

@media screen and ( max-width: 610px ) and ( max-height: 940px ) {
    .top-nav .text-block, .top-nav a {
        font-size: 0.9rem;
    }
    .verse-pgraph {
        font-size: 0.9rem;
        padding-left: 10%;
        padding-right: 10%;
    }
    .verse-container {
        padding-top: 50%;
    }
    .share-pgraph {
        font-size: 1.1rem;
    }
    .share-button, .share-icon {
        font-size: 0.9rem;
    }
}

/* ----------- S Note 8.0 Potrait ----------- */

@media screen and ( max-width: 610px) and (max-height: 850px) {
    .verse-container {
        padding-top: 45%;
    }
    .verse-pgraph {
        font-size: 0.9rem;
    }
}

/* ----------- iPhone 5 5s Landscape ----------- */

@media screen and ( max-width: 568px) {
    .verse-container {
        padding-top: 18%;
    }
}

/* ----------- VIVO 5 Samsung J Landscape ----------- */

@media screen and ( max-width: 560px) and (max-height: 360px) {
    .verse-container {
        padding-top: 22%;
    }
}

/* ----------- iPhone 6S Landscape ----------- */

@media screen and ( max-width: 540px) {
    .verse-container {
        padding-top: 28%;
    }
}

/* ----------- HuaWei Mate 9 Landscape ----------- */

@media screen and ( max-width: 530px) {
    .verse-container {
        padding-top: 26%;
    }
}

/* ----------- iPhone 4 Landscape ----------- */

@media screen and ( max-width: 480px) and (max-height: 215px) {
    .verse-container {
        padding-top: 14%;
    }
}

/* ----------- iPhone 6 PLUS Potrait----------- */

@media screen and ( max-width: 420px) and (max-height: 740px) {
    .main-section {
        background-position: 75% 1%;
    }
    .verse-container {
        padding-top: 55%;
    }
    .verse-pgraph {
        font-size: 1rem;    
    }
    .share-button, .share-icon {
        font-size: 0.9rem;
    }
}

/* ----------- Galaxy Note 5 ----------- */

@media screen and ( max-width: 420px ) and ( max-height: 655px ) {
    .verse-pgraph {
        font-size: 0.9rem;
    }
}

/* ----------- iPhone 7, iPhone 6 PLUS Potrait ----------- */

@media screen and ( max-width: 420px) and ( max-height: 630px) {
    html{font-size: 18px;}
    .main-section {
        background-position: 75% 1%;
    }
}

/* ----------- iPhone 6  Potrait----------- */

@media screen and ( max-width: 380px) {
    .verse-container {
        padding-top: 60%;
    }
    .verse-pgraph {
        font-size: 0.9rem;
    }
    .scroll-down, .scroll2-container h1 {
        font-size: 0.7rem;
    }
}

/* ----------- iPhone 6  Potrait----------- */

@media screen and ( max-width: 380px) and ( max-height: 560px) {
    .main-section {
        background-position: 75% 1%;
    }
    .verse-container {
        padding-top: 42%;
    }
}

/* ----------- Galaxy Note 8 Potrait  ----------- */

@media screen and ( max-width: 360px) and ( max-height: 670px) {
    .main-section {
        background-position: 80% 1%;
    }
}

/* ----------- Galaxy Note 3 Potrait  ----------- */

@media screen and ( max-width: 360px) and ( max-height: 640px) {
    .verse-container {
        padding-top: 50%;
    }
    .share-button, .share-icon {
        font-size: 0.8rem;
    }
}

/* ----------- VIVO 5, S Note 3 Neo Potrait  ----------- */

@media screen and ( max-width: 360px) and ( max-height: 560px) {
    .share-info {
        padding: 30px 0;
    }
    .share-button, .share-icon {
        font-size: 0.9rem;
    }
}

/* ----------- HuaWei Mate9 Potrait  ----------- */

@media screen and ( max-width: 360px) and ( max-height: 530px) {
    .verse-container {
        padding-top: 40%;
    }
    .verse-pgraph {
        padding-bottom: 10px;
    }
}

/* ----------- iPhone 5 and 5S Potrait ----------- */

@media screen and ( max-width: 320px) and ( max-height: 568px) { 
    .verse-pgraph {
        padding-bottom: 15px;
    }
    .share-info {
        padding: 30px 0;
    }
    .share-pgraph {
        padding-bottom: 20px;
    }
}


/* ----------- iPhone 4 and 4S Potrait----------- */

@media screen and ( max-width: 320px) and ( max-height: 480px) {
    .verse-container {
        padding-top: 30%;
    }
}

/* iPhone 5S Potrait */

@media screen and ( max-width: 320px) and ( max-height: 460px) {
    .verse-pgraph {
        padding-bottom: 5px;
    }
}