.main-section {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1521434489/Sandakan%20Interchurch%20Youth/siy2.jpg");
    background-position: 50% 1%;
}

.transparent-layer {
    background-color: rgba(0, 0, 0, .3);
}

.pic1 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1521434498/Sandakan%20Interchurch%20Youth/siy1.jpg");
}

.pic2 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1521434489/Sandakan%20Interchurch%20Youth/siy2.jpg");
}

.pic3 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1521434945/Sandakan%20Interchurch%20Youth/siy3.jpg");
}

.pic4 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1521434943/Sandakan%20Interchurch%20Youth/siy4.jpg");
}

.pic5 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1521434947/Sandakan%20Interchurch%20Youth/siy5.jpg");
}

.pic6 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1521434948/Sandakan%20Interchurch%20Youth/siy6.jpg");
}

.pic1,
.pic2,
.pic3,
.pic4,
.pic5,
.pic6 {
    height: 100vh;
    width: 100%;
    background-position: 50% 1%;
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and ( max-width: 1024px) {
    .main-section {
        background-position: 50% 1%;
    }
}

@media screen and (max-width: 800px) and (max-height: 1140px) {
    .topic {
        font-size: 1.3rem;
    }
    .verse-pgraph {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 610px) and (max-height: 940px) {
    .topic {
        font-size: 1.3rem;
    }
    .verse-pgraph {
        font-size: 1.1rem;
    }
}