.main-section {
    background-image: url("../News/img/boysbrigade.jpg");
    background-position: 50% 100%;
}
.transparent-layer {
    background-color: rgba(0, 0, 0, .4)
}
.verse-pgraph {
    font-size: 1.7rem;
}
.topic {
    font-size: 1.8rem;
}
.verse-pgraph {
    padding-left: 5%;
    padding-right: 5%;
}


.pic1 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609284/BoysBrigade/BB1.jpg");
}

.pic2 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609296/BoysBrigade/BB2.jpg");
}

.pic3 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609297/BoysBrigade/BB3.jpg");
}

.pic4 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609296/BoysBrigade/BB4.jpg");
}

.pic5 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609341/BoysBrigade/BB5.jpg");
}

.pic6 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609349/BoysBrigade/BB6.jpg");
}

.pic7 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609335/BoysBrigade/BB7.jpg");
}

.pic8 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609349/BoysBrigade/BB8.jpg");
}

.pic9 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609364/BoysBrigade/BB9.jpg");
}

.pic10 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609405/BoysBrigade/BB10.jpg");
}

.pic11 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609365/BoysBrigade/BB11.jpg");
}

.pic12 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609384/BoysBrigade/BB12.jpg");
}

.pic13 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609391/BoysBrigade/BB13.jpg");
}

.pic14 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609390/BoysBrigade/BB14.jpg");
}

.pic15 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609400/BoysBrigade/BB15.jpg");
}

.pic16 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609409/BoysBrigade/BB16.jpg");
}

.pic17 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609409/BoysBrigade/BB17.jpg");
}

.pic18 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609410/BoysBrigade/BB18.jpg");
}

.pic19 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609261/BoysBrigade/BB19.jpg");
}

.pic20 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609260/BoysBrigade/BB20.jpg");
}

.pic21 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609259/BoysBrigade/BB21.jpg");
}

.pic22 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609308/BoysBrigade/BB22.jpg");
}

.pic23 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609269/BoysBrigade/BB23.jpg");
}

.pic24 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609284/BoysBrigade/BB24.jpg");
}

.pic25 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509609298/BoysBrigade/BB25.jpg");
}


.pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7, .pic8, .pic9, .pic10, .pic11, .pic12, .pic13, .pic14, .pic15, .pic16, .pic17, .pic18, .pic19, .pic20, .pic21, .pic22, .pic23, .pic24, .pic25 {
    height: 100vh;
    width: 100%;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
@media screen and ( max-width: 1024px) {
    .main-section {
        background-position: 75% 70%;
    }
    .topic {
        font-size: 2rem;
    }
}

@media screen and (max-width: 800px) and (max-height: 1140px) {
    .verse-container {
        padding-top: 50%;
    }
    .verse-pgraph {
        font-size: 1.4rem;
        padding-bottom: 0;
    }
    .topic {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 768px){
    .verse-container {
        padding-top: 40%;
    }
    .verse-pgraph {
        font-size: 1.3rem;
    }
    .topic {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 610px) and (max-height: 940px) {
    .verse-container {
        padding-top: 55%;
    }
    .verse-pgraph {
        font-size: 1rem;
    }
    .topic {
        font-size: 1.2rem;
    }
}

@media screen and ( max-width: 420px) and (max-height: 740px) {
    .main-section {
        background-position: 75% 1%;
    }
    .verse-container {
        padding-top: 65%;
    }
}
@media screen and ( max-width: 420px) and ( max-height: 630px) {
    .main-section {
        background-position: 75% 1%;
    }
}

@media screen and ( max-width: 380px) {
    .verse-container {
        padding-top: 70%;
    }
    .verse-pgraph {
        font-size: 0.9rem;
    }
    .topic {
        font-size: 1.1rem;
    }
}

@media screen and ( max-width: 380px) and ( max-height: 560px) {
    .main-section {
        background-position: 75% 1%;
    }
    .verse-container {
        padding-top: 60%;
    }
}

@media screen and ( max-width: 360px) and ( max-height: 670px) {
    .main-section {
        background-position: 80% 1%;
    }
    .verse-pgraph {
        font-size: 0.8rem;
    }
    .topic {
        font-size: 1rem;
    }
}