.main-section {
    background-image: url("../News/img/boysbrigade.jpg");
    background-position: 50% 100%;
}
@media screen and ( max-width: 1024px) {
    .main-section {
        background-position: 75% 70%;
    }
}
@media screen and ( max-width: 420px) and (max-height: 740px) {
    .main-section {
        background-position: 75% 1%;
    }
}
@media screen and ( max-width: 420px) and ( max-height: 630px) {
    .main-section {
        background-position: 75% 1%;
    }
}
@media screen and ( max-width: 380px) and ( max-height: 560px) {
    .main-section {
        background-position: 75% 1%;
    }
}

@media screen and ( max-width: 360px) and ( max-height: 670px) {
    .main-section {
        background-position: 80% 1%;
    }
}