.responsiveCal {

position: relative; padding-bottom: 65%; height: 0; overflow: hidden;

}

.responsiveCal iframe {

position: absolute; top:0; left: 0; width: 100%; height: 90%;

}

.wrapper {
    height: 550px;
    margin-bottom: 90px;
}
.calendar-container {
    position: absolute;
    top: 25%;
    left: 20%;
    background: #2e80b6;
    color: white;
    width: 60%;
    height: auto;
    border-radius: 4px;
    -webkit-box-shadow: 
        0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
    box-shadow:
        0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
    z-index: 1;
}
.cal-title {
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.cal-h1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 40%;
    padding-bottom: 10px;
}
.cal-title h2 {
    font-size: 2rem;
    line-height: 1.1em;
    font-weight: 300;
    padding: 16% 20px 0;
}
.cal-info {
    padding: 20px 25px 20px 20px;
    height: 60%;
    background: white;
    color: #2e80b6;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.cal-info, .cal-info span, .cal-info p  {
    font-size: 1.1rem;
    line-height: 1.2em;
    font-weight: 300;
}
.cal-info p {
    padding-top: 5px;
}
#eventInfo {
    margin-bottom: 40px;
}
.closeButton {
    font-size: 1.1rem;
    cursor: pointer;
    position: absolute;
    padding: 10px;
    border-radius: 4px;
    bottom: 10px;
    right: 10px;
    background: #2e80b6;
    color: white;
}
.closeButton:hover {
    background: #d8172e;
    color: white;
}