.main-section {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1520097776/Children%20Bible%20Camp%20Mar18/2018_Bible_Camp.jpg");
    background-position: 50% 100%;
}

.transparent-layer {
    background-color: rgba(0, 0, 0, .45);
}

.pic1 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1520097772/Children%20Bible%20Camp%20Mar18/camp41.jpg");
}

.pic2 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1520097771/Children%20Bible%20Camp%20Mar18/camp37.jpg");
}

.pic3 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1520097771/Children%20Bible%20Camp%20Mar18/camp35.jpg");
}

.pic4 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1520097760/Children%20Bible%20Camp%20Mar18/camp28.jpg");
}

.pic5 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1520097769/Children%20Bible%20Camp%20Mar18/camp25.jpg");
}

.pic6 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1520097762/Children%20Bible%20Camp%20Mar18/camp17.jpg");
}

.pic7 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1520097755/Children%20Bible%20Camp%20Mar18/camp15.jpg");
}

.pic8 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1520097770/Children%20Bible%20Camp%20Mar18/camp10.jpg");
}

.pic9 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1520097755/Children%20Bible%20Camp%20Mar18/camp5.jpg");
}

.pic10 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1520097761/Children%20Bible%20Camp%20Mar18/camp2.jpg");
}

.pic11 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1520097776/Children%20Bible%20Camp%20Mar18/2018_Bible_Camp.jpg");
}

.pic1,
.pic2,
.pic3,
.pic4,
.pic5,
.pic6,
.pic7,
.pic8,
.pic9,
.pic10,
.pic11 {
    height: 100vh;
    width: 100%;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and ( max-width: 1024px) {
    .main-section {
        background-position: 16% 1%;
    }
}

@media screen and (max-width: 800px) and (max-height: 1140px) {
    .verse-pgraph {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 610px) and (max-height: 940px) {
    .topic {
        font-size: 1.4rem;
    }
    .verse-pgraph {
        font-size: 1.1rem;
    }
}

@media screen and ( max-width: 610px) and (max-height: 850px) {
    .topic {
        font-size: 1.4rem;
    }
    .verse-pgraph {
        font-size: 1.1rem;
    }
}

@media screen and ( max-width: 430px) and (max-height: 740px) {
    .main-section {
        background-position: 16% 1%;
    }
    .topic {
        font-size: 1.3rem;
    }
    .verse-pgraph {
        font-size: 1.1rem;
    }
}

@media screen and ( max-width: 380px) {
   .topic {
        font-size: 1.3rem;
    }
    .verse-pgraph {
        font-size: 1.1rem;
    }
}
