.main-section {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1520406041/Gotong-Royong/gotong-royong25.jpg");
    background-position: 50% 50%;
}

.transparent-layer {
    background-color: rgba(0, 0, 0, .3);
}

.pic1 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1520406030/Gotong-Royong/gotong-royong1.jpg");}
.pic2 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1520406068/Gotong-Royong/gotong-royong12.jpg");}
.pic3 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1520406034/Gotong-Royong/gotong-royong3.jpg");}
.pic4 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1520406046/Gotong-Royong/gotong-royong4.jpg");}
.pic5 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1520406043/Gotong-Royong/gotong-royong5.jpg");}
.pic6 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1520406056/Gotong-Royong/gotong-royong6.jpg");}
.pic7 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1520406056/Gotong-Royong/gotong-royong7.jpg");}
.pic8 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1520406057/Gotong-Royong/gotong-royong8.jpg");}
.pic9 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1520406061/Gotong-Royong/gotong-royong9.jpg");}
.pic10 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1520406052/Gotong-Royong/gotong-royong10.jpg");}
.pic11 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1520406056/Gotong-Royong/gotong-royong11.jpg");}
.pic12 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1520406068/Gotong-Royong/gotong-royong14.jpg");}
.pic13 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1520406061/Gotong-Royong/gotong-royong15.jpg");}
.pic14 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1520406068/Gotong-Royong/gotong-royong16.jpg");}
.pic15 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1520406068/Gotong-Royong/gotong-royong17.jpg");}
.pic16 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1520406070/Gotong-Royong/gotong-royong18.jpg");}
.pic17 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1520406023/Gotong-Royong/gotong-royong19.jpg");}
.pic18 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1520406040/Gotong-Royong/gotong-royong24.jpg");}
.pic19 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1520406041/Gotong-Royong/gotong-royong25.jpg");}
.pic20 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1520406043/Gotong-Royong/gotong-royong26.jpg");}

.pic1,
.pic2,
.pic3,
.pic4,
.pic5,
.pic6,
.pic7,
.pic8,
.pic9,
.pic10,
.pic11,
.pic12,
.pic13,
.pic14,
.pic15,
.pic16,
.pic17,
.pic18,
.pic19,
.pic20 {
    height: 100vh;
    width: 100%;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and ( max-width: 1024px) {
    .main-section {
        background-position: 50% 1%;
    }
}

@media screen and (max-width: 800px) and (max-height: 1140px) {
    .topic {
        font-size: 1.3rem;
    }
    .verse-pgraph {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 610px) and (max-height: 940px) {
    .topic {
        font-size: 1.2rem;
/*        text-align: left;*/
        padding: 0 10%;
    }
    .verse-pgraph {
        font-size: 1rem;
/*        text-align: left*/
    }
/*
    .share-pgraph {
        text-align: left;
    }
    .share-button {
        text-align: left;
    }
*/
}