html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

.body {
    margin: 0;
    font-family: Oswald, sans-serif;
}

a {
    background-color: transparent
}

a:active,a:hover {
    outline: 0
}

img {
    border: 0
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    height: 100%
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: Arial,sans-serif;
    font-size: 0.7rem;
    line-height: 1.45em;
    color: #333
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block
}

p {
    margin-top: 0;
    margin-bottom: 10px
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.w-container:before,.w-container:after {
    content: " ";
    display: table
}

.w-container:after {
    clear: both
}

@media screen and ( max-width: 1441px) {
    .w-container {
        max-width: 80%;
    }
}

/* ----------- S Tab 10.1 Potrait ----------- */

@media screen and ( max-width: 800px) {
    .w-container {
        max-width: 85%;
    }
}


/* ==========================================================================
   Start of custom CSS
   ========================================================================== */

.main-section {
    position: relative;
    left: 0px;
    top: 0px;
    height: 100vh;
    background-image: url("../News/img/s_white4.jpg");
    background-position: 50% 1%;
    background-size: cover;
    font-family: Merriweather, serif;
    color: #fff;
    font-weight: 700;
}

.transparent-layer {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    background-color: rgba(0, 0, 0, .10);
}

.share-pgraph {
    font-size: 1.5rem;
    line-height: 1.3em;
}

.title-container {
    position: absolute;
    top: 20%;
    left: 30px;
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.event-details h1 {
    font-size: 1.8rem;
}
.main-title {
    font-size: 3.5rem;
    line-height: 1em;
    margin: 0 0 10px;
}
.main-title, .event-details h1, .title-container p, .verse-container .little-info {
        text-shadow: 1px 1px 2px rgba(216,23,46, 0.7);
    }    
.title-container p {
    margin-top: 5px;
    font-size: 1.2rem;
}
.verse-container {
    position: absolute;
    top: 20%;
    display: block;
    width: 26%;
    height: 90%;
    padding-top: 6%;
    right: 0;
    text-align: center; 
}

.verse-pgraph {
    margin-top: 20px;
}

.verse-container h1 {
    font-size: 1.5rem;
    line-height: 1.3em;
    width: 70%;
    margin: 0 0 0 20%;
}

.verse-container .little-info {
    font-size: 0.9rem;
    font-weight: 300;
    margin-bottom: 50px;
}

.join {
    position: absolute;
    left: 22%;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.2em;
    padding: 15px 20px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: white;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24), 0 2px 4px rgba(0, 0, 0, 0.24);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24), 0 2px 4px rgba(0, 0, 0, 0.24);
    color: rgb(198,22,43);
    opacity: 0.95;
}

.join:hover {
    opacity: 1;
}
.verse-pgraph p {
    font-size: 1rem;
    line-height: 1.2em;
    background-color: rgba(255,255,255,1);
    color: rgb(198,22,43);
    padding: 10px 0;
    position:relative;
    padding-left: 10px;
}

.verse-pgraph p:before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    border-width:50px 13px 0px 0px;
    border-style:solid;
    border-color:rgb(198,22,43) transparent transparent rgb(198,22,43);
}
.verse-pgraph, .scroll-down {
    font-weight: 300;
}

.verse-pgraph p:nth-child(1) {
    width: 90%;
    left: 10%;
}

.verse-pgraph p:nth-child(2) {
    width: 93%;
    left: 7%;
}
.verse-pgraph p:nth-child(3) {
    width: 96%;
    left: 4%;
}

.verse-pgraph p:nth-child(4) {
    width: 99%;
    left: 1%;
}

.scroll-down {
    display: inline-block;
    font-size: 1rem;
    line-height: 1em;
    margin: 0;
}

.scroll-down img {
    width: 25px;
    margin-left: 5px;
}

.share-info {
    padding: 30px 0;
    background-color: rgba(245,245,245,1);
    color: black;
}

.share-container {
    text-align: center;
}

.share-button {
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    line-height: 1em;
    color: white;
    border-radius: 4px;
    background-color: rgb(216,23,46);
    padding: 0.6em 0.8em;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    -o-transition: transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
}

.share-button:hover {
    background-color: #23B5D3;
}

.web__share {
    display: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: -webkit-transform 0.35s ease;
    transition: -webkit-transform 0.35s ease;
    -o-transition: transform 0.35s ease;
    transition: transform 0.35s ease;
    transition: transform 0.35s ease, -webkit-transform 0.35s ease;
}

.share-icon {
    display: inline-block;
    width: 2.2em;
    height: 2.2em;
    line-height: 2.2em;
    font-size: 1rem;
    text-align: center;
    border-radius: 50%;
    text-decoration: none;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: 0;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.share-icon:hover,
.share-icon:focus {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.facebook {
    background-color: #3b5998;
}

.twitter {
    background-color: #00abe3;
}

.googleplus {
    background-color: #d3492c;
}

.whatsapp {
    background-color: #25D366;
}

.facebook,
.twitter,
.googleplus,
.whatsapp {
    color: #fff;
}

.facebook:hover,
.twitter:hover,
.googleplus:hover,
.whatsapp:hover {
    color: #eee;
}

.slide-container {
    background-color: black;
}
.pic1 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509531882/JGeneration/j1.jpg");
}

.pic2 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509531865/JGeneration/j2.jpg");
}

.pic3 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509531898/JGeneration/j3.jpg");
}

.pic4 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509531904/JGeneration/j4.jpg");
}

.pic5 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509531907/JGeneration/j5.jpg");
}

.pic6 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509531893/JGeneration/j6.jpg");
}

.pic7 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509531907/JGeneration/j7.jpg");
}

.pic8 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509531906/JGeneration/j8.jpg");
}

.pic9 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509531918/JGeneration/j9.jpg");
}

.pic10 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509531915/JGeneration/j10.jpg");
}

.pic11 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509531920/JGeneration/j11.jpg");
}

.pic12 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509531920/JGeneration/j12.jpg");
}

.pic13 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509531921/JGeneration/j13.jpg");
}

.pic14 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509531922/JGeneration/j14.jpg");
}

.pic15 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509531920/JGeneration/j15.jpg");
}

.pic16 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509531935/JGeneration/j16.jpg");
}

.pic17 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509531927/JGeneration/j17.jpg");
}

.pic18 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509531935/JGeneration/j18.jpg");
}

.pic19 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509531937/JGeneration/j19.jpg");
}

.pic20 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509531935/JGeneration/j20.jpg");
}

.pic21 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509531862/JGeneration/j21.jpg");
}

.pic22 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509531865/JGeneration/j22.jpg");
}

.pic23 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509531879/JGeneration/j23.jpg");
}

.pic24 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509531866/JGeneration/j24.jpg");
}

.pic25 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509531906/JGeneration/j25.jpg");
}

.pic26 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509531875/JGeneration/j26.jpg");
}

.pic27 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509531881/JGeneration/j27.jpg");
}

.pic28 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509531898/JGeneration/j28.jpg");
}

.pic29 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509531888/JGeneration/j29.jpg");
}


.pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7, .pic8, .pic9, .pic10, .pic11, .pic12, .pic13, .pic14, .pic15, .pic16, .pic17, .pic18, .pic19, .pic20, .pic21, .pic22, .pic23, .pic24, .pic25, .pic26, .pic27, .pic28, .pic29 {
    height: 100vh;
    width: 100%;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.pic-container {
    padding-top: 80vh;
    text-align: center;
}

.slide-heading {
    display: inline-block;
    font-size: 1rem;
    color: white;
    background-color: rgba(0,0,0,0.5);
    border-radius: 4px;
    font-weight: 400;
    padding: 10px 20px;
    margin: 0;
    position: absolute;
    bottom: 80px;
    left: 46.5%;
}
.adjust-space {
    left: 46.1%;
}
.fp-tableCell {
        position: relative;
    }

.fp-controlArrow.fp-prev {
    border-color: transparent rgba(250, 250, 250, 1) transparent transparent !important;
}

.fp-controlArrow.fp-next {
    border-color: transparent transparent transparent rgba(250, 250, 250, 1) !important;
}

.share-pgraph {
    padding-bottom: 20px;
    margin-bottom: 0;
}

.youtube {
    position: relative;
    background-color: rgba(245,245,245,1);
}
.youtube .fp-tableCell {
    text-align: center;
}
.youtube iframe {
    height: 100vh;
    width: 100%;
}

.social-media-text {
    -webkit-box-shadow: none;
        box-shadow: none;
}
.footer {
    height: 45px !important;
    background-color: rgb(216,23,46) !important;
    color: #fff;
}

.footer.section .fp-tableCell {
    height: 45px !important;
}

.footer-container {
    position: unset;
    top: unset;
    -webkit-transform: unset;
    -ms-transform: unset;
        transform: unset;
}

.social-icons {
    -webkit-transform: unset;
        -ms-transform: unset;
            transform: unset;
}
.social-icon-link {
    opacity: 1;
    color: rgb(216,23,46);
}

@media screen and ( max-width: 380px) {
    .social-icons {
        -webkit-transform: perspective(1px) translateY(-8%) !important;
        transform: perspective(1px) translateY(-8%) !important;
    }
}

.scroll-container, .scroll3-container, .scroll5-container {
    position: absolute;
    bottom: 30px;
    width: 30%;
    left: 35%;
    text-align: center;
    z-index: 1000
}
.scroll5-container {
    bottom: 60px;
}

.scroll5-container h1 {
    color: black;
}

.scroll2-container, .scroll3-container {
    display: block;
    text-align: center;
}

.scroll2-container h1, .scroll3-container a {
    font-size: 0.9rem;
    border-radius: 4px;
}

.scroll3-container .tooltiptext {
    position: absolute;
    visibility: hidden;
    width: 160px;
    font-size: 0.8rem;
    background-color: rgba(59,89,152,1);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 8px 14px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.scroll3-container .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(59,89,152,1) transparent transparent transparent;
}

.scroll3-container:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.scroll3-container a {
    color: rgba(59,89,152,1);
    background: rgba(246,246,246, 1);
    font-weight: bold;
    padding: 10px 15px 8px;
    width: 180px;
    text-align: left;
}

.scroll3-container a:hover {
    background: white;
}

.scroll3-container a {
    position: relative;
}

.scroll3-container a img {
    right: 10px;
    position:absolute;
    top: 5px;
    width: 25px;
}

@media screen and (max-width: 1441px) and (orientation: landscape) {
    .main-section {
        background-position: 0% 1%;
    }
    .scroll2-container {
        bottom: 20px;
    }
    .scroll3-container {
        bottom: 13px;
    }
    .scroll3-container a {
        width: 208px;
    }
    .scroll3-container a img {
        width: 28px;
        top: 6px;
    }
    .slide-heading {
        left: 45.5%;
        bottom: 65px;
    }
    .adjust-space {
        left: 45.4%;
    }
}

@media screen and ( max-width: 1370px) and (orientation: landscape) {
    .scroll3-container {
        bottom: 30px;
    }
    .scroll3-container a {
        width: 212px;
    }
    .scroll3-container a img {
        width: 28px;
        top: 7px;
    }
    .adjust-space {
        left: 45%;
    }
}

@media screen and ( max-width: 1370px) and (max-height: 670px) {
    .scroll3-container a {
        width: 180px;
    }
    .scroll3-container a img {
        width: 25px;
        top: 6px;
    }
    .slide-heading {
        left: 46%;
    }
    .adjust-space {
        left: 45.4%;
    }
}

@media screen and ( max-width: 1281px ) and ( max-height: 951px ) {
    .scroll3-container a {
        width: 193px;
    }
    .scroll3-container a img {
        top: 5px;
    }
    .slide-heading {
        left: 45.5%;
    }
    .adjust-space {
        left: 44.6%;
    }
}

@media screen and ( max-width: 1280px) and (max-height: 800px) {
    .scroll3-container {
        bottom: 10px;
    }
    .scroll3-container a {
        width: 180px;
    }
    .scroll3-container a img {
        width: 25px;
        top: 6px;
    }
    .slide-heading {
        left: 45.7%;
    }
    .adjust-space {
        left: 45.5%;
    }
}

@media screen and ( max-width: 1280px) and (max-height: 670px) {
    .scroll3-container {
        bottom: 15px;
    }
    .scroll3-container a {
        width: 178px;
    }
    .scroll3-container a img {
        width: 24px;
        top: 6px;
    }
}
@media screen and ( max-width: 1100px) {
    .scroll-container {
        bottom: 20px;
    }
    .scroll2-container {
        bottom: 25px;
    }
    .scroll3-container a {
        width: 147px;
        padding: 10px 15px;
    }
    .scroll3-container a img {
        width: 23px;
        top: 5px;
    }
}

@media screen and ( max-width: 1024px) {
    .slide-heading {
        bottom: 150px;
        padding: 15px 20px;
        left: 42.5%;
        font-size: 1.2rem;
    }
    .adjust-space {
        left: 42%;
    }
    .fp-controlArrow {
        top: unset !important;
        bottom: 155px !important;
    }
    .fp-controlArrow.fp-prev {
        left: 35% !important;
        border-width: 20.5px 15px 20.5px 0 !important;
    }

    .fp-controlArrow.fp-next {
        right: 35% !important;
        border-width: 20.5px 0 20.5px 15px !important;
    }
    .scroll-down, .scroll2-container h1, .scroll3-container a {
        font-size: 1.1rem;
    }
    .scroll3-container a {
        width: 285px;
        padding: 15px 20px 11px;
    }
    .scroll3-container a img {
        width: 38px;
        top: 10px;
    }
    .scroll3-container .tooltiptext {
        font-size: 1rem;
        line-height: 1.2em;
        width: 220px;
        padding: 15px 8px;
        left: 47%;
    }
   .scroll2-container, .scroll3-container {
        bottom: 30px;
    }
}

@media screen and ( max-width: 1024px) and ( max-height: 770px) {
    .scroll-down, .scroll2-container h1, .scroll3-container a {
        font-size: 1rem;
    }
    .slide-heading {
        bottom: 80px;
        left: 44%;
    }
    .fp-controlArrow {
        bottom: 85px !important;
    }
    .scroll3-container a {
        width: 200px;
    }
    .scroll3-container a img {
        width: 28px;
    }
    .scroll3-container .tooltiptext {
        line-height: 1.2em;
        padding: 15px;
    }
    .adjust-space {
        left: 44%;
    }
}

@media screen and ( max-width: 1024px) and ( max-height: 510px) {
    .scroll-down {
        font-size: 1.1rem;
    }
    .scroll-container {
        bottom: 20px;
    }
    .scroll2-container h1, .scroll3-container a {
        font-size: 1rem;
    }
    .scroll3-container a {
        width: 170px;
        padding: 14px 20px 12px;
    }
    .scroll3-container a img {
        width: 26px;
        top: 9px;
    }
    .slide-heading {
        left: 45.2%;
    }
    .fp-controlArrow {
        top: 55% !important;
        bottom: unset !important;
    }
    .fp-controlArrow.fp-prev {
        left: 15px !important;
        border-width: 38.5px 34px 38.5px 0;
    }
    .fp-controlArrow.fp-next {
        right: 15px !important;
        border-width: 38.5px 0 38.5px 34px;
    }
    .adjust-space {
        left: 44.3%;
    }
}

@media screen and ( max-width: 800px) and (max-height: 1140px) {
    .scroll-down, .scroll2-container h1, .scroll3-container a  {
        font-size: 0.9rem;
    }
    .slide-heading {
        font-size: 1.2rem;
        left: 41%;
    }
    .adjust-space {
        left: 40%;
    }
    .scroll3-container a {
        width: 262px;
    }
    .scroll3-container a img {
        width: 35px;
        top: 10px;
    }
}

@media screen and ( max-width: 768px ) {
    .slide-heading {
        left: 40.5%;
        bottom: 85px;
    }
    .adjust-space {
        left: 39.4%;
    }
    .fp-controlArrow {
        bottom: 90px !important;
    }
    .scroll3-container a {
        width: 265px;
    }
}

@media screen and ( max-width: 610px ) and ( max-height: 940px ) {
    .slide-heading {
        left: 39.9%;
        padding: 10px 15px;
        font-size: 1rem;
    }
    .adjust-space {
        left: 38.6%;
    }   
    .scroll-down, .scroll2-container h1, .scroll3-container a {
        font-size: 0.7rem;
    }
    .scroll3-container a {
        width: 222px;
    }
    .scroll3-container a img {
        width: 32px;
        top: 9px;
    }
    .fp-controlArrow {
        bottom: 88px !important;
    }
}

@media screen and ( max-width: 420px ) and ( max-height: 740px ) {
    .scroll-down img {
        width: 20px;
    }
    .slide-heading {
        left: 39%;
    }
    .adjust-space {
        left: 38%;
    }
    .scroll2-container {
        bottom: 15px;
    }
    .scroll-container {
        font-size: 0.9rem;
        bottom: 15px;
    }
    .slide-heading {
        font-size: 1rem;
    }
    .scroll3-container {
        bottom: 35px;
    }
    .scroll2-container h1 {
        font-size: 0.7rem;
    }
    .scroll3-container a {
        font-size: 0.7rem;
    }
    .fp-controlArrow {
        bottom: 86px !important;
    }
    .fp-controlArrow.fp-prev {
        left: 25% !important;
        border-width: 18.5px 13px 18.5px 0 !important;
    }  
    .fp-controlArrow.fp-next {
        right: 25% !important;
        border-width: 18.5px 0 18.5px 13px !important;
    }
    .scroll3-container {
        left: 33%;
    }
    .scroll3-container a {
        width: 150px;
        padding: 13px 15px 11px;
        border: 1.5px solid rgba(59,89,152,1);
    }
    .scroll3-container a img {
        width: 23px;
        top: 7px;
    }
    .scroll3-container .tooltiptext {
        font-size: 0.8rem;
        padding: 10px;
    }
}

/* ----------- Galaxy Note 5 ----------- */

@media screen and ( max-width: 420px ) and ( max-height: 655px ) {
    .scroll3-container a {
        width: 150px;
    }
    .scroll3-container a {
        padding: 13px 15px 9px;
    }
    .scroll-down, .scroll2-container h1 {
        font-size: 0.7rem;
    }
}

@media screen and ( max-width: 420px ) and ( max-height: 630px ) {
    .slide-heading {
        bottom: 70px;
        left: 39.6%;
    }
    .fp-controlArrow {
        bottom: 70px !important;
    }
    .scroll3-container a {
        width: 138px;
    }
    .scroll3-container a img {
        width: 21px;
        top: 7px;
    }
    .adjust-space {
        left: 39%;
    }
}

@media screen and ( max-width: 380px ) and ( max-height: 670px ) {
    .slide-heading {
        bottom: 85px;
        left: 38%;
    }
    .fp-controlArrow {
        bottom: 85px !important;
    }
    .adjust-space {
        left: 37%;
    }
    .scroll2-container {
        bottom: 30px;
    }
    .scroll3-container a {
        padding: 13px 15px 9px;
    }
    .scroll3-container a img {
        width: 21.5px;
        top: 7px;
    }
}

@media screen and ( max-width: 380px) and ( max-height: 540px) {
    .scroll-container {
        bottom: 10px;
    }
}

@media screen and ( max-width: 360px ) and ( max-height: 670px ) {
    .slide-heading {
        bottom: 95px;
        left: 37%;
    }
    .adjust-space {
        left: 36%;
    }
    .fp-controlArrow {
        bottom: 95px !important;
    }
    .scroll2-container {
        bottom: 15px;
    }
    .scroll-container, .scroll5-container {
        width: 34%;
        left: 33%;
    }
    .scroll3-container {
        left: 31%;
    }
}

@media screen and ( max-width: 360px) and ( max-height: 640px) {
    .slide-heading {
        font-size: 0.9rem;
    }
}

@media screen and ( max-width: 360px ) and ( max-height: 570px ) {
    .slide-heading {
        bottom: 60px;
        left: 38.5%;
    }
    .adjust-space {
        left: 37.5%;
    }
    .fp-controlArrow {
        bottom: 60px !important;
    }
}

@media screen and ( max-width: 320px) and ( max-height: 568px) {
    .slide-heading {
        bottom: 80px;
        left: 37.5%;
    }
    .adjust-space {
        left: 36.5%;
    }
    .fp-controlArrow {
        bottom: 80px !important;
    }
}

@media screen and ( max-width: 320px ) and ( max-height: 480px ) { 
    .slide-heading {
        bottom: 60px;
    }
    .fp-controlArrow {
        bottom: 60px !important;
        top: unset !important;
    }
}


/* ----------- Laptop with HiDPI ----------- */

@media screen and ( max-width: 1441px) and (orientation: landscape) {
    html{font-size: 24px;}
    .title-container p {
        font-size: 1rem;
    }
    .verse-container {
        padding-top: 15%;
        width: 30%;
    }
    .verse-container h1 {
        width: 90%;
        margin-left: 5%;
    }
    .verse-pgraph p:before {
        border-width: unset;
        border-color: unset;
        border-style: unset;
    }
    .verse-pgraph p {
        font-size: 0.9rem;
    }
    .verse-pgraph p:nth-child(1), .verse-pgraph p:nth-child(2), .verse-pgraph p:nth-child(3), .verse-pgraph p:nth-child(4) {
        width: 100%;
        left: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24), 0 2px 4px rgba(0, 0, 0, 0.24);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24), 0 2px 4px rgba(0, 0, 0, 0.24);
    }
    .verse-pgraph {
        font-size: 1.4rem;
    }
    .share-info {
        padding: 40px 0;
    }
}

/* ----------- iPad Pro Landscape ----------- */

@media screen and ( max-width: 1370px) and (orientation: landscape) {
    html {font-size: 25px;}
    .title-container {
        top: 12%;
        width: 800px;
    }
    .title-container p {
        font-size: 1.3rem;
    }
    .main-title {
        font-size: 3rem;
    }
    .verse-container {
        padding-top: 25%;
        left: 0;
        width: 39%;
    }
    .verse-container h1 {
        display: none;
    }
    .verse-pgraph p {
        font-size: 1.1rem;
        text-align: center;
        padding-left: 30px;
    }
    .verse-pgraph p:nth-child(1), .verse-pgraph p:nth-child(2), .verse-pgraph p:nth-child(3), .verse-pgraph p:nth-child(4) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .join {
        opacity: 1;
    }
}

/* ----------- Aspire E1 Laptop Landscape ----------- */

@media screen and ( max-width: 1370px) and (max-height: 670px) {
    html {font-size: 20px;}
    .title-container {
        top: 15%;
        width: 500px;
    }
    .title-container p {
        font-size: 1.1rem;
    }
    .main-title {
        font-size: 3.5rem;
    }
    .verse-container {
        padding-top: 6%;
        left: unset;
        right: 0;
        width: 26%;
    }
    .verse-container h1 {
        display: block;
        font-size: 1.3rem;
        margin-left: 10%;
    }
    .verse-pgraph p:before {
        content:"";
        position:absolute;
        top:0;
        left:0;
        border-width:50px 13px 0px 0px;
        border-style:solid;
        border-color:rgb(198,22,43) transparent transparent rgb(198,22,43);
    }
    .verse-pgraph p {
        font-size: 0.9rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
    .verse-pgraph p:nth-child(1), .verse-pgraph p:nth-child(2), .verse-pgraph p:nth-child(3), .verse-pgraph p:nth-child(4) {
        -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.24), 0 0px 0px rgba(0, 0, 0, 0.24);
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.24), 0 0px 0px rgba(0, 0, 0, 0.24);
    }
    .verse-pgraph p:nth-child(1) {
        width: 90%;
        left: 10%;
    }
    
    .verse-pgraph p:nth-child(2) {
        width: 93%;
        left: 7%;
    } 
    
    .verse-pgraph p:nth-child(3) {
        width: 96%;
        left: 4%;
    } 
    
    .verse-pgraph p:nth-child(4) {
        width: 99%;
        left: 1%;
    }
    .verse-container .little-info {
        padding-left: 20px;
        text-align: left;
    }
    .join {
        opacity: 0.95;
    }
}

/* ----------- Laptop with Touch ----------- */

@media screen and ( max-width: 1280px) {
    html {font-size: 22px;}
    .title-container {
        width: 700px;
    }
    .title-container p {
        font-size: 1.3rem;
    }
    .verse-container {
        width: 38%;
        padding-top: 23%;
    }
    
}


/* ----------- Laptop with MDPI screen----------- */

@media screen and ( max-width: 1280px) and (max-height: 800px) {
    html {font-size: 20px;}
    .event-details h1 {
        font-size: 1.6rem;
    }
    .main-title {
        font-size: 2.6rem;
    }
    .title-container {
        width: 580px;
    }
    .title-container p {
        font-size: 1.1rem;
    }
    .verse-container {
        width: 33%;
        padding-top: 19%;
    }
    .verse-pgraph p {
        font-size: 1rem;
    }
    .verse-container .little-info {
        margin-bottom: 30px;
    }
}

/* ----------- S Tab 10.1 Landscape ----------- */

@media screen and ( max-width: 1280px) and (max-height: 670px) {
    .title-container {
        top: 25%;
    }
    .verse-container {
        padding-top: 6%;
        width: 26%;
    }
    .verse-pgraph {
        margin-top: 10px;
    }
    .verse-pgraph p {
        font-size: 0.9rem;
    }
    .verse-pgraph p:nth-child(1), .verse-pgraph p:nth-child(2), .verse-pgraph p:nth-child(3), .verse-pgraph p:nth-child(4) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .verse-container .little-info {
        font-size: 0.8rem;
    }
    .join {
        opacity: 1;
    }
}

/* ----------- Aspire V3 Laptop Landscape ----------- */

@media screen and ( max-width: 1100px) {
    html {font-size: 15px;}
    .title-container {
        width: 370px;
    }
    .verse-container {
        padding-top: 7%;
        width: 25%;
    }
    .join {
        padding: 10px 15px;
    }
    .share-info {
        padding: 30px 0;
    }
}

/* ----------- iPad Pro Potrait------------------*/

@media screen and ( max-width: 1024px) {
    html {font-size: 28px;}
    .main-section {
        background-position: 40% 1%;
    }
    .title-container {
        width: 600px;
        top: 15%;
    }
    .title-container p {
        font-size: 1.1rem;
    }
    .verse-container {
        padding-top: 52%;
        left: 0;
        width: 50%;
    }
    .verse-container h1 {
        display: none;
    }
    .verse-pgraph p:before {
        border: 0 solid transparent;
    }
    .verse-pgraph p:nth-child(1), .verse-pgraph p:nth-child(2), .verse-pgraph p:nth-child(3), .verse-pgraph p:nth-child(4) {
        padding: 15px 10px;
        width: 100%;
        left: 0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24), 0 2px 4px rgba(0, 0, 0, 0.24);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24), 0 2px 4px rgba(0, 0, 0, 0.24);
    }
    .join {
        opacity: 1;
        padding: 15px 20px;
    }
    .share-button, .share-icon {
        font-size: 1.2rem;
    }
    .share-info {
        padding: 50px 0;
    }
    .share-pgraph {
        padding-bottom: 35px;
    }
    .youtube iframe {
        height: 60vh;
        width: 100%;
    }
}

/* ----------- iPad Landscape ----------- */

@media screen and ( max-width: 1024px) and ( max-height: 770px) {
    html {font-size: 20px;}
    .title-container {
        top: 10%;
        width: 550px;
    }
    .verse-container {
        padding-top: 22%;
        width: 38%;
    }
    .verse-pgraph p:nth-child(1), .verse-pgraph p:nth-child(2), .verse-pgraph p:nth-child(3), .verse-pgraph p:nth-child(4) {
        padding: 12px 10px;
    }
    .join {
        padding: 13px 16px;
    }
    .share-info {
        padding: 40px 0;
    }
    .share-pgraph {
        padding-bottom: 25px;
    }
}

/* ----------- iPad Mini 4 Landscape ----------- */

@media screen and ( max-width: 1024px) and ( max-height: 680px) {
    .verse-container {
        padding-top: 20%;
    }
}

/* ----------- Lenova IdeaPad Laptop Landscape ----------- */

@media screen and ( max-width: 1024px) and ( max-height: 510px) {
    html {font-size: 16px;}
    .title-container {
        top: 25%;
        width: 380px;
    }
    .verse-container {
        padding-top: 5%;
        left: unset;
        right: 0;
        width: 25%;
    }
    .verse-container h1 {
        display: block;
    }
    .verse-pgraph p:before {
        content:"";
        position:absolute;
        top:0;
        left:0;
        border-width:50px 13px 0px 0px;
        border-style:solid;
        border-color:rgb(198,22,43) transparent transparent rgb(198,22,43);
    }
    .verse-pgraph p:nth-child(1), .verse-pgraph p:nth-child(2), .verse-pgraph p:nth-child(3), .verse-pgraph p:nth-child(4) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.24), 0 0 0 rgba(0, 0, 0, 0.24);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.24), 0 0 0 rgba(0, 0, 0, 0.24);
        padding: 10px;
    }
    .verse-pgraph p:nth-child(1) {
    width: 90%;
    left: 10%;
    }

    .verse-pgraph p:nth-child(2) {
        width: 93%;
        left: 7%;
    }
    .verse-pgraph p:nth-child(3) {
        width: 96%;
        left: 4%;
    }

    .verse-pgraph p:nth-child(4) {
        width: 99%;
        left: 1%;
    }
    .verse-pgraph p {
        font-size: 0.8rem;
    }
    .join {
        font-size: 1rem;
    }
    .verse-container .little-info {
        margin-bottom: 20px;
    }
    .share-info {
        padding: 30px 0;
    }
    .share-pgraph {
        padding-bottom: 20px;
    }
    .youtube iframe {
        height: 100vh;
        width: 100%;
    }
}


/* ----------- S Note 8.0 Landscape ----------- */

@media screen and ( max-width: 970px) and (max-height: 490px) {
    .verse-container {
        padding-top: 4%;
    }
}


/* ----------- S Tab 10.1 Potrait ----------- */

@media screen and ( max-width: 800px) and (max-height: 1140px) {
    .title-container {
        top: 10%;
    }
    .event-details h1 {
        font-size: 1.6rem;
    }
    .main-title {
        font-size: 2.6rem;
    }
    .verse-container {
        padding-top: 48%;
        width: 63%;
    }
    .verse-pgraph {
        font-size: 1.2rem;
        line-height: 1.25em;
        padding-bottom: 5px;
    }
    .verse-container .little-info {
        margin-bottom: 20px;
    }
    .join {
        left: 20%;
        font-size: 1.1rem;
    }
    .share-pgraph {
        font-size: 1.2rem;
    }
    .share-button, .share-icon {
        font-size: 1rem;
    }
    
    .youtube iframe {
        height: 50vh;
        width: 100%;
    }
}

/* ----------- iPad Potrait----------- */

@media screen and ( max-width: 768px) {
    .event-details h1 {
        font-size: 1.2rem;
        margin: 15px 0;
    }
    .main-title {
        font-size: 2.3rem;
        width: 70%;
    }
    .title-container {
        width: 90%;
        top: 12%;
    }
    .title-container p {
        font-size: 0.9rem;
    }
    .verse-container {
        padding-top: 44%;
        width: 54%;
    }
    .verse-pgraph {
        padding-bottom: 0;
    }
    .verse-pgraph p {
        font-size: 0.8rem;
    }
    .verse-pgraph p:nth-child(1), .verse-pgraph p:nth-child(2), .verse-pgraph p:nth-child(3), .verse-pgraph p:nth-child(4) {
        padding: 12px 0;
    }
    .verse-container .little-info {
        font-size: 0.7rem;
    }
    .join {
        font-size: 0.8rem;
    }
}

/* ----------- iPad Mini4 Potrait----------- */

@media screen and ( max-width: 768px) and (max-height: 930px) {
    .title-container {
        top: 10%;
    }
    .event-details h1 {
        margin: 15px 0;
    }
    .verse-container {
        padding-top: 40%;
    }
    .verse-container .little-info {
        margin-bottom: 10px;
    }
}

/* ----------- S Note 8.0 Potrait include Address bar----------- */

@media screen and ( max-width: 610px ) and ( max-height: 940px ) {
    .top-nav .text-block, .top-nav a {
        font-size: 0.9rem;
    }
    .main-title {
        font-size: 2rem;
    }
    .title-container p {
        font-size: 0.7rem;
        font-weight: 300;
    }
    .verse-container {
        padding-top: 50%;
    }
    .verse-pgraph p, .verse-container .little-info {
        font-size: 0.55rem;
    }
    .join {
        font-size: 0.6rem;
    }
    .share-pgraph {
        font-size: 1.1rem;
    }
    .share-button, .share-icon {
        font-size: 0.9rem;
    }
}

/* ----------- S Note 8.0 Potrait ----------- */

@media screen and ( max-width: 610px) and (max-height: 850px) {
    .verse-container {
        padding-top: 47%;
    }
}

/* ----------- iPhone 6 PLUS Potrait----------- */

@media screen and ( max-width: 420px) and (max-height: 740px) {
    .main-section {
        background-position: 48% 1%;
    }
    .title-container {
        width: 96%;
        left: 4%;
        top: 17%;
    }
    .main-title, .event-details h1, .title-container p, .verse-container .little-info {
        text-shadow: 1px 1px 2px rgba(216,23,46, 0.5);
    }
    .main-title {
        font-size: 1.8rem;
    }
    .verse-container {
        padding-top: 59%;
        width: 57%;
    }
    .verse-pgraph {
        font-size: 1rem;    
    }
    .joing {
        padding: 10px 15px;
    }
    .share-button, .share-icon {
        font-size: 0.9rem;
    }
}

/* ----------- Galaxy Note 5 ----------- */

@media screen and ( max-width: 420px ) and ( max-height: 655px ) {
   .title-container {
        top: 14%;
    }
    .main-title {
        font-size: 1.7rem;
        margin-bottom: 5px;
    }
    .title-container p {
        font-size: 0.8rem;
        margin: 0;
    }
    .verse-container {
        padding-top: 50%;
        width: 64%;
    }
    .verse-pgraph p {
        font-size: 0.7rem;
        opacity: 0.95;
    }
    .verse-pgraph p:hover {
        opacity: 1;
    }
    .verse-pgraph p:nth-child(1), .verse-pgraph p:nth-child(2), .verse-pgraph p:nth-child(3), .verse-pgraph p:nth-child(4) {
        padding: 10px;
        margin-bottom: 5px;
    }
    .verse-container .little-info {
        font-size: 0.6rem;
    }
    .join {
        font-size: 0.7rem;
        padding: 10px 14px;
    } 
}

/* ----------- iPhone 7, iPhone 6 PLUS Potrait ----------- */

@media screen and ( max-width: 420px) and ( max-height: 630px) {
    html{font-size: 18px;}
    .main-title {
        font-size: 1.8rem;
    }
    .verse-container {
        padding-top: 48%;
        width: 57%;
    }
}

/* ----------- iPhone 6  Potrait----------- */

@media screen and ( max-width: 380px) {
    .title-container {
        top: 19%;
    }
    .event-details h1 {
        font-size: 1.1rem;
        margin: 0 0 10px;
    }
    .main-title {
        margin-bottom: 5px;
        font-size: 1.6rem;
    }
    .title-container p {
        margin-top: 0;
        margin-bottom: 0;
    }
    .verse-container {
        padding-top: 56%;
        width: 61%;
    }
    .verse-pgraph p {
        margin-bottom: 5px;
        opacity: 0.95;
    }
    .verse-pgraph p:hover {
        opacity: 1;
    }
    .verse-pgraph p, .verse-container .little-info {
        padding-left: 10px;
    }
    .join {
        font-size: 0.7rem;
        padding: 10px 15px;
    }
    .scroll-down, .scroll2-container h1 {
        font-size: 0.7rem;
    }
}

/* ----------- iPhone 6  Potrait----------- */

@media screen and ( max-width: 380px) and ( max-height: 560px) {
    .title-container {
        top: 12%;
    }
    .verse-container {
        padding-top: 42%;
    }
}

/* ----------- iPhone 6S  Potrait----------- */

@media screen and ( max-width: 380px) and ( max-height: 540px) {
    .verse-container {
        padding-top: 41%;
    }
}

/* ----------- Galaxy Note 8 Potrait  ----------- */

@media screen and ( max-width: 360px ) and ( max-height: 670px ) {
    .title-container {
        top: 21%;
    }
    .verse-container {
        padding-top: 62%;
        width: 64%;
    }
    .verse-pgraph p {
        opacity: 0.95;
    }
    .verse-pgraph p:hover {
        opacity: 1;
    }
}

/* ----------- Galaxy Note 3 Potrait  ----------- */

@media screen and ( max-width: 360px) and ( max-height: 640px) {
    .title-container {
        top: 18%;
    }
    .verse-container {
        padding-top: 57%;
        width: 73%;
    }
    .verse-pgraph p:nth-child(1), .verse-pgraph p:nth-child(2), .verse-pgraph p:nth-child(3), .verse-pgraph p:nth-child(4) {
        padding: 8px;
    }
    .verse-pgraph p {
        font-size: 0.6rem;
    }
    .verse-container .little-info {
        padding-left: 0;
        text-align: center;
        font-size: 0.55rem;
    }
    .share-button, .share-icon {
        font-size: 0.8rem;
    }
}

/* ----------- Samsung J Potrait  ----------- */

@media screen and ( max-width: 360px) and ( max-height: 570px) {
    .verse-container {
        padding-top: 51%;
    }
}

/* ----------- VIVO 5, S Note 3 Neo Potrait  ----------- */

@media screen and ( max-width: 360px) and ( max-height: 560px) {
    .share-info {
        padding: 30px 0;
    }
    .share-button, .share-icon {
        font-size: 0.9rem;
    }
}

/* ----------- HuaWei Mate9 Potrait  ----------- */

@media screen and ( max-width: 360px) and ( max-height: 530px) {
    .title-container {
        top: 15%;
    }
    .verse-container {
        padding-top: 47%;
        width: 66%;
    }
    .verse-container .little-info {
        margin-bottom: 5px;
    }
    .join {
        padding: 9px 13px;
        left: 24%;
    }
}

/* ----------- iPhone 5 and 5S Potrait ----------- */

@media screen and ( max-width: 320px) and ( max-height: 568px) { 
    .title-container {
        top: 18%;
    }
    .verse-container {
        padding-top: 57%;
    }
    .share-info {
        padding: 30px 0;
    }
    .share-pgraph {
        padding-bottom: 20px;
    }
}


/* ----------- iPhone 4 and 4S Potrait----------- */

@media screen and ( max-width: 320px) and ( max-height: 480px) {
    .event-details h1 {
        font-size: 1rem;
        margin-bottom: 5px;
    }
    .title-container {
        top: 16%;
    }
    .main-title {
        font-size: 1.4rem;
    }
    .verse-container h1 {
        display: none;
    }
    .verse-container {
        padding-top: 47%;
        left: 0;
    }
    .verse-pgraph p:before {
        border-width: unset;
        border-color: unset;
        border-style: unset;
    }
    .verse-pgraph p:nth-child(1), .verse-pgraph p:nth-child(2), .verse-pgraph p:nth-child(3), .verse-pgraph p:nth-child(4) {
        width: 100%;
        left: 0;
        padding: 7px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24), 0 2px 4px rgba(0, 0, 0, 0.24);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24), 0 2px 4px rgba(0, 0, 0, 0.24);
    }
    .verse-pgraph p:nth-child(4) {
        margin-bottom: 2px;
    }
    .join {
        font-size: 0.6rem;
        padding: 8px 12px;
    }
}

/* iPhone 5S Potrait */

@media screen and ( max-width: 320px) and ( max-height: 460px) {
    .title-container p {
        font-size: 0.7rem;
    }
    .verse-container {
        width: 64%;
    }
    .verse-pgraph p, .join {
        font-size: 0.55rem;
    }
}