.main-section {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1512826156/Interchurch%20Christmas/sic-14.jpg");
}

.pic1 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1512826134/Interchurch%20Christmas/sic-1.jpg");
}

.pic2 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1512826145/Interchurch%20Christmas/sic-2.jpg");
}

.pic3 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1512826138/Interchurch%20Christmas/sic-3.jpg");
}

.pic4 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1512826140/Interchurch%20Christmas/sic-4.jpg");
}

.pic5 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1512826140/Interchurch%20Christmas/sic-5.jpg");
}

.pic6 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1512826137/Interchurch%20Christmas/sic-6.jpg");
}

.pic7 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1512826148/Interchurch%20Christmas/sic-7.jpg");
}

.pic8 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1512826146/Interchurch%20Christmas/sic-8.jpg");
}

.pic9 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1512826150/Interchurch%20Christmas/sic-9.jpg");
}

.pic10 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1512826147/Interchurch%20Christmas/sic-10.jpg");
}

.pic11 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1512826154/Interchurch%20Christmas/sic-11.jpg");
}

.pic12 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1512826153/Interchurch%20Christmas/sic-12.jpg");
}

.pic13 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1512826154/Interchurch%20Christmas/sic-13.jpg");
}

.pic14 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1512826156/Interchurch%20Christmas/sic-14.jpg");
}

.pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7, .pic8, .pic9, .pic10, .pic11, .pic12, .pic13, .pic14 {
    height: 100vh;
    width: 100%;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}


@media screen and ( max-width: 1024px) {
    .main-section {
        background-position: 40% 50%;
    }
}

@media screen and ( max-width: 430px) and (max-height: 840px) {
    .main-section {
        background-position: 35% 50%;
    }
}

@media screen and ( max-width: 430px) and ( max-height: 630px) {
    html{font-size: 18px;}
    .main-section {
        background-position: 40% 50%;
    }
}

@media screen and ( max-width: 380px) and ( max-height: 560px) {
    .main-section {
        background-position: 40% 50%;
    }
}

@media screen and ( max-width: 360px) and ( max-height: 670px) {
    .main-section {
        background-position: 35% 50%;
    }
}

@media screen and ( max-width: 360px) and ( max-height: 530px) {
    .main-section {
        background-position: 42% 50%;
    }
}

@media screen and ( max-width: 320px) and ( max-height: 570px) {
    .main-section {
        background-position: 35% 50%;
    }
}

@media screen and ( max-width: 320px) and ( max-height: 480px) {
    .main-section {
        background-position: 40% 50%;
    }
}


/* Previous Upcoming CSS

.transparent-layer {
    background-color: rgba(0, 0, 0, .25);
}
.join a:hover {
    color: rgba(6,53,75,1);
}
@media screen and (max-width: 970px) and (max-height: 490px) {
    .join a {
        color: rgba(6,53,75,1);
        background-color: white;
        opacity: 0.90;
    }
    .join a:hover {
        opacity: 1;
    }
}

@media screen and (max-width: 800px) and (max-height: 1140px) {
    .join a {
        color: rgba(6,53,75,1);
        background-color: white;
        opacity: 0.90;
    }
    .join a:hover {
        opacity: 1;
    }
}*/
