* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    height: 100%;
    font-family: 'Oswald', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    min-height: 100%;
}

section {
    display: block
}

a {
    text-decoration: none;
    background-color: transparent;
    color: white;
}

a:active,
a:hover {
    outline: 0
}

img {
    border: 0
}

h1,
h3 {
    color: white;
    line-height: inherit;
    margin: 0;
    padding: 0;
    display: inline-block;
}

p {
    color: white;
}

section,
div {
    margin: 0;
}


/*Start of Social Container Footer*/
.social-container {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 0.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.social-container p {
    margin: 0;
    font-size: 1.1rem;
    margin-top: 11px;
}

.social-icons {
    margin-top: 15px;
    margin-left: 20px;
}

.social-icon-link {
    padding: 0;
    padding-right: 10px;
    padding: 3px;
    opacity: 0.66;
    -webkit-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

.social-icon-link:hover {
    opacity: 1;
}

.social-icon-link img {
    width: 1.5rem;
}
/* ----------- Laptop with HiDPI ----------- */

@media screen and ( max-width: 1441px) and (orientation: landscape) {
    .social-container p {
        font-size: 1rem;
    }
    .social-icon-link img {
        width: 1.35em;
    }
}

/* ----------- S Galaxy Note 3 Neo ----------- */

@media screen and ( max-width: 640px) and (max-height: 280px) {
    .social-container {
        padding: 0.2em;
    }
}


/* ----------- iPhone 6 PLUS Potrait----------- */

@media screen and ( max-width: 420px) and (max-height: 740px) {
    .social-container p {
        margin-top: 0.9rem;
    }
    .social-icon-link img {
        width: 1.6rem;
    }
}
/* ----------- iPhone 5 and 5S Potrait ----------- */

@media screen and ( max-width: 320px) and ( max-height: 568px) {
    .social-container p {
        margin-top: 1.1rem;
    }
}
/*End of Social-Container Footer*/