.main-section {
    background-image: url("../News/img/BM-Camp.jpg");
}

.pic1 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509604169/Survival%20Youth%20Camp(BM)%2017/BM_Camp1.jpg");
}

.pic2 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509604149/Survival%20Youth%20Camp(BM)%2017/BM_Camp2.jpg");
}

.pic3 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509604177/Survival%20Youth%20Camp(BM)%2017/BM_Camp3.jpg");
}

.pic4 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509604182/Survival%20Youth%20Camp(BM)%2017/BM_Camp4.jpg");
}

.pic5 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509604202/Survival%20Youth%20Camp(BM)%2017/BM_Camp5.jpg");
}

.pic6 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509604200/Survival%20Youth%20Camp(BM)%2017/BM_Camp6.jpg");
}

.pic7 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509604210/Survival%20Youth%20Camp(BM)%2017/BM_Camp7.jpg");
}

.pic8 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509604216/Survival%20Youth%20Camp(BM)%2017/BM_Camp8.jpg");
}

.pic9 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509604229/Survival%20Youth%20Camp(BM)%2017/BM_Camp9.jpg");
}

.pic10 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509604238/Survival%20Youth%20Camp(BM)%2017/BM_Camp10.jpg");
}

.pic11 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509604263/Survival%20Youth%20Camp(BM)%2017/BM_Camp11.jpg");
}

.pic12 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509604276/Survival%20Youth%20Camp(BM)%2017/BM_Camp12.jpg");
}

.pic13 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509604257/Survival%20Youth%20Camp(BM)%2017/BM_Camp13.jpg");
}

.pic14 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509604262/Survival%20Youth%20Camp(BM)%2017/BM_Camp14.jpg");
}

.pic15 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509604163/Survival%20Youth%20Camp(BM)%2017/BM_Camp15.jpg");
}

.pic16 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509604163/Survival%20Youth%20Camp(BM)%2017/BM_Camp16.jpg");
}

.pic17 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509604189/Survival%20Youth%20Camp(BM)%2017/BM_Camp17.jpg");
}

.pic18 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509604228/Survival%20Youth%20Camp(BM)%2017/BM_Camp18.jpg");
}

.pic19 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509604180/Survival%20Youth%20Camp(BM)%2017/BM_Camp19.jpg");
}

.pic20 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509604203/Survival%20Youth%20Camp(BM)%2017/BM_Camp20.jpg");
}

.pic21 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509604228/Survival%20Youth%20Camp(BM)%2017/BM_Camp21.jpg");
}

.pic22 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509604238/Survival%20Youth%20Camp(BM)%2017/BM_Camp22.jpg");
}

.pic23 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509604241/Survival%20Youth%20Camp(BM)%2017/BM_Camp23.jpg");
}

.pic24 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509604268/Survival%20Youth%20Camp(BM)%2017/BM_Camp24.jpg");
}

.pic25 {
    background-image: url("http://res.cloudinary.com/trippleninja/image/upload/v1509604266/Survival%20Youth%20Camp(BM)%2017/BM_Camp25.jpg");
}


.pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7, .pic8, .pic9, .pic10, .pic11, .pic12, .pic13, .pic14, .pic15, .pic16, .pic17, .pic18, .pic19, .pic20, .pic21, .pic22, .pic23, .pic24, .pic25 {
    height: 100vh;
    width: 100%;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and ( max-width: 1024px) {
    .main-section {
        background-position: 40% 1%;
    }
}

@media screen and ( max-width: 420px) and (max-height: 740px) {
    .main-section {
        background-position: 50% 1%;
    }
}

@media screen and ( max-width: 420px) and ( max-height: 630px) {
    html{font-size: 18px;}
    .main-section {
        background-position: 45% 1%;
    }
}

@media screen and ( max-width: 380px) and ( max-height: 560px) {
    .main-section {
        background-position: 45% 1%;
    }
}

@media screen and ( max-width: 360px) and ( max-height: 670px) {
    .main-section {
        background-position: 48% 1%;
    }
}