.preloader-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #f0f2f2;
    transition: all 2s ease;
    z-index: 1;
}

.preloader {
    position: absolute;
    top: 50%;
    left: 41%;
    transform: translate(-50%, -50%);
}

.pulse {
    text-align: center;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #fff;
    background: #141e28;
    border-radius: 50%;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0% {
        box-shadow: 0 0 0 0 rgba(20, 30, 40, .7), 0 0 50px 0 rgba(20, 30, 40, .7);
          
    }
    25% {
        box-shadow: 0 0 0 50px rgba(20, 30, 40, .1.5), 0 0 0 10px rgba(20, 30, 40, .6);
 
    }
    540% {
        box-shadow: 0 0 0 100px rgba(20, 30, 40, .1.5), 0 0 0 50px rgba(20, 30, 40, .6);
 
    }
    75% {
        box-shadow: 0 0 0 200px rgba(20, 30, 40, 0), 0 0 0 100px rgba(20, 30, 40, 0);
    }
    100% {
        box-shadow: 0 0 0 300PX rgba(20, 30, 40, .0), 0 0 0 200px rgba(20, 30, 40, 0);
 
    }
}

@media screen and ( max-width: 1280px) {
    .preloader {
        top: 55%;
        left: 50%;
}

@media screen and ( max-width: 970px) and (max-height: 490px) {
    .pulse {
        font-size: 2.3rem;
    }
}
    
@media screen and ( max-width: 768px) {
    .pulse {
        font-size: 1.8rem;
    }    
}

    
