
html {
    font-family: 'Droid Serif', serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #fff;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

body {
    margin: 0
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

img {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    height: 100%
}

body {
    margin: 0;
    min-height: 100%;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block
}

h1 {
    font-weight: bold;
    margin-bottom: 10px
}

h1 {
    font-size: 38px;
    line-height: 44px;
    margin-top: 20px
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

.w-container:before,
.w-container:after {
    content: " ";
    display: table
}

.w-container:after {
    clear: both
}

@media screen and (max-width: 991px) {
    .w-container {
        max-width: 728px
    }
}

@media screen and (max-width: 479px) {
    .w-container {
        max-width: none
    }
}


/* ==========================================================================
   Start of custom CSS
   ========================================================================== */

._1-intro,
._2-intro,
._3-intro {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #141e28;
    text-align: center;
    opacity: 1;
    display: none;
    -webkit-animation: out 4s ease forwards 2s;
            animation: out 4s ease forwards 2s
}

@-webkit-keyframes out {
    from {
        opacity: 1;
        display: block;
    }
    to {
        opacity: 0;
        display: none;
    }
}

@keyframes out {
    from {
        opacity: 1;
        display: block;
    }
    to {
        opacity: 0;
        display: none;
    }
}

._1-intro {
    z-index: 1003;
}

._2-intro {
    z-index: 1002;
    -webkit-animation-delay: 5s;
            animation-delay: 5s
}

._3-intro {
    z-index: 1001;
    -webkit-animation-delay: 9s;
            animation-delay: 9s
}

.intro-pgraph {
    margin-bottom: 0px;
    color: #fff;
    font-size: 30px;
    line-height: 35px;
}

.intro-container {
    position: relative;
    top: 50%;
    -webkit-transform: perspective(1px) translateY(-50%);
            transform: perspective(1px) translateY(-50%);
    padding-right: 50px;
    padding-left: 50px;
}

.top-nav {
    position: fixed;
    left: 0px;
    top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 10%;
    padding: 0 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1000;
}

.text-block {
    display: inline-block;
    font-size: 2rem;
    color: white;
}

.link {
    font-size: 2rem;
    text-decoration: none;
    color: white;
}

.page1 {
    position: relative;
}

.page1-container {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    border-radius: 4px;
    background-color: hsla(0, 0%, 100%, .85);
    text-align: center;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 12s;
            animation-delay: 12s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
}

.paragraph {
    
    font-size: 30px;
    line-height: 35px;
}

.heading {
    margin-top: 0px;
    color: #34231c;
    font-size: 60px;
    line-height: 65px;
    
}

.heading, .paragraph {
    display: inline-block;
    margin-bottom: 0px;
    color: #34231c;
    font-weight: 700;
    text-align: center;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 12s;
            animation-delay: 12s;
    -webkit-animation-iteration-count: 3;
            animation-iteration-count: 3;
}

.page2 {
    position: relative;
    height: 100vh;
    background-image: url("../History/img/pic2.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.page2-container {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 40%;
    display: block;
    padding-right: 10%;
    padding-left: 10%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.heading-2 {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    color: #fff;
    font-size: 35px;
    line-height: 40px;
    font-weight: 400;
}

.page3 {
    position: relative;
    height: 100vh;
    background-color: #141e28;
}

.page3-container {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 25%;
    display: block;
    width: 45%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    border-radius: 4px;
    background-color: hsla(0, 0%, 100%, .85);
    text-align: center;
}

.page4 {
    position: relative;
    height: 100vh;
}

.page4-container {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.page4-pgraph {
    padding: 20px;
    color: #534951;
    border-radius: 4px;
    background-color: hsla(0, 0%, 100%, .85);
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
}

.page5 {
    position: relative;
    height: 100vh;
}

.land1 {
    position: relative;
    height: 100vh;
}

.land2 {
    position: relative;
    height: 100vh;
}

.raise-fund {
    position: relative;
    height: 100vh;
}

.raise1 {
    position: relative;
    padding-bottom: 60px;
    background-color: #232321;
}

.raise2 {
    position: relative;
    padding-bottom: 60px;
    background-color: #232321;
}

.raise4 {
    position: relative;
    padding-bottom: 60px;
    background-color: #232321;
}

.raise6 {
    position: relative;
    padding-bottom: 60px;
    background-color: #232321;
}

.raise3 {
    position: relative;
    padding-bottom: 60px;
    background-color: #232321;
}

.raise5 {
    position: relative;
    padding-bottom: 60px;
    background-color: #232321;
}

.raise7 {
    position: relative;
    height: 100vh;
}

.fund-table {
    margin: 50px auto;
    width: 50%;
    text-align: center;
    border-radius: 4px;
}

.fund-table tr {
    background-color: #F6F7F8;
    color: #534951;
}

.fund-table tr:hover {
    background-color: #534951;
    color: white;
}

.fund-table th {
    background-color: #534951;
    border: 2px solid white;
    color: white;
}
.fund-table th, .fund-table td {
    font-size: 35px;
    padding: 10px 15px;
    line-height: 40px;
    font-weight: 400;
}

.fund-table td {
    border: 2px solid white;
}

.page17 {
    position: relative;
    height: 100vh;
}

.process1 {
    position: relative;
    background-color: #232321;
}

.process2 {
    position: relative;
    background-color: #232321;
}

.process3 {
    position: relative;
    background-color: #232321;
}

.process10 {
    position: relative;
    background-color: #232321;
}

.page-dedication {
    position: relative;
    height: 100vh;
}

.intro-heading {
    color: #fff;
    font-size: 60px;
    line-height: 65px;
    font-weight: 400;
}

.page5-container {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.page5-pgraph {
    width: 85%;
    padding: 15px 20px;
    color: #534951;
    border-radius: 4px;
    background-color: hsla(0, 0%, 100%, .85);
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    text-align: center;
}

.land-container {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.land-pgraph {
    display: inline-block;
    padding: 15px 20px;
    color: #534951;
    border-radius: 4px;
    background-color: #fff;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    text-align: center;
}

.find-pgraph {
    margin-bottom: 0px;
    color: #534951;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
}

.land-container2 {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.land-pgraph2 {
    padding: 15px 20px;
    width: 85%;
    text-align: center;
    color: #534951;
    border-radius: 4px;
    background-color: hsla(0, 0%, 100%, .85);
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
}

.raise-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.raise-pgraph {
    padding: 15px 20px;
    color: #534951;
    background-color: #fff;
    border-radius: 4px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
}

.process4 {
    position: relative;
    background-color: #232321;
}

.process5 {
    position: relative;
    background-color: #232321;
}

.process6 {
    position: relative;
    background-color: #232321;
}

.process7 {
    position: relative;
    background-color: #232321;
}

.process8 {
    position: relative;
    background-color: #232321;
}

.process9 {
    position: relative;
    background-color: #232321;
}

.process-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.process-pgraph {
    padding: 15px;
    color: #fff;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    text-align: center;
}

.process11 {
    position: relative;
    background-color: #232321;
}

.fund-row {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

.fund-pgraph {
    color: #534951;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
}

.fund-heading {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 30px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 270px;
    flex-basis: 270px;
    color: #534951;
    font-size: 60px;
    line-height: 65px;
    text-align: right;
}

.fund-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    top: 50%;
    -webkit-transform: perspective(1px) translateY(-50%);
            transform: perspective(1px) translateY(-50%);
}

.find-land {
    position: relative;
    height: 100vh;
}

.find-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    top: 50%;
    -webkit-transform: perspective(1px) translateY(-50%);
            transform: perspective(1px) translateY(-50%);
}

.find-heading {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 30px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 270px;
    flex: 0 0 270px;
    color: #534951;
    font-size: 60px;
    line-height: 65px;
    text-align: right;
}

.page17-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    top: 50%;
    -webkit-transform: perspective(1px) translateY(-50%);
            transform: perspective(1px) translateY(-50%);
}

.heading-3 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 30px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 400px;
    flex: 0 0 400px;
    color: #534951;
    font-size: 60px;
    line-height: 65px;
    text-align: right;
}

.raise-container2 {
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: perspective(1px) translateY(-50%);
            transform: perspective(1px) translateY(-50%);
}

.raise-heading {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #534951;
    font-size: 60px;
    line-height: 65px;
}

.dedication-container {
    padding-right: 50px;
    padding-left: 50px;
    position: relative;
    top: 50%;
    -webkit-transform: perspective(1px) translateY(-50%);
            transform: perspective(1px) translateY(-50%);
}

.dedication-heading {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #c6a677;
    font-size: 60px;
    line-height: 65px;
    text-align: center;
}

.progress-pgraph {
    color: #534951;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
}

.phase1-end {
    height: 100vh;
    padding-top: 20%;
    border-top: 2px solid #c6a677;
}

.phase1-container {
    display: block;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.phase1-heading {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px;
    color: #534951;
    font-size: 70px;
    line-height: 80px;
    text-align: left;
}

.phase1-pgraph {
    color: #534951;
    font-size: 25px;
    line-height: 30px;
}

.paged1 {
    position: relative;
    padding-bottom: 30px;
}

.paged2 {
    position: relative;
    padding-bottom: 30px;
}

.paged3 {
    position: relative;
    padding-bottom: 30px;
}

.paged4 {
    position: relative;
    padding-bottom: 30px;
}

.paged5 {
    position: relative;
    padding-bottom: 30px;
}

.paged6 {
    position: relative;
    padding-bottom: 30px;
}

.paged7 {
    position: relative;
    padding-bottom: 30px;
}

.d1-container,
.d2-container,
.d3-container,
.d4-container,
.d5-container,
.d6-container,
.d7-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.d1-pgraph,
.d2-pgraph,
.d3-pgraph,
.d4-pgraph,
.d5-pgraph,
.d6-pgraph,
.d7-pgraph {
    padding: 15px;
    color: #c6a677;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    border: 1px solid #c6a677;
    border-radius: 4px;
    background-color: #fff;
}

.pic1 {
    height: 100vh;
    background-image: url("../History/img/pic1.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.pic5 {
    height: 100vh;
    background-image: url("../History/img/pic5.jpg");
    background-position: 50% 84%;
    background-size: cover;
    background-repeat: no-repeat;
}

.pic3 {
    height: 100vh;
    background-image: url("../History/img/pic3.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.pic4 {
    height: 100vh;
    background-image: url("../History/img/pic4.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.pic6 {
    height: 100vh;
    background-image: url("../History/img/pic6.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.pic7 {
    height: 100vh;
    background-image: url("../History/img/pic7.jpg");
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.pic8 {
    height: 600px;
    margin-bottom: 30px;
    background-image: url("../History/img/pic8.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.pic9{
    height: 600px;
    margin-bottom: 30px;
    background-image: url("../History/img/pic9.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.pic10 {
    height: 600px;
    margin-bottom: 30px;
    background-image: url("../History/img/pic10.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.pic11 {
    height: 600px;
    margin-bottom: 30px;
    background-image: url("../History/img/pic11.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.pic12 {
    height: 600px;
    margin-bottom: 30px;
    background-image: url("../History/img/pic12.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.pic13 {
    height: 600px;
    margin-bottom: 30px;
    background-image: url("../History/img/pic13.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.process1-pic {
    height: 685px;
    background-image: url("../History/img/pic14.jpg");
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.process2-pic {
    height: 685px;
    background-image: url("../History/img/pic15.jpg");
    background-position: 50% 0px;
    background-size: cover;
    background-repeat: no-repeat;
}

.process3-pic {
    height: 685px;
    background-image: url("../History/img/pic16.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.process4-pic {
    height: 685px;
    background-image: url("../History/img/pic17.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.process5-pic {
    height: 685px;
    background-image: url("../History/img/pic18.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.process6-pic {
    height: 685px;
    background-image: url("../History/img/pic19.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.process7-pic {
    height: 685px;
    background-image: url("../History/img/pic20.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.process8-pic {
    height: 685px;
    background-image: url("../History/img/pic21.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.process9-pic {
    height: 685px;
    background-image: url("../History/img/pic22.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.process10-pic {
    height: 685px;
    background-image: url("../History/img/pic23.jpg");
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.process11-pic {
    height: 685px;
    background-image: url("../History/img/pic24.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.picd1 {
    height: 620px;
    margin-bottom: 30px;
    background-image: url("../History/img/pic25.jpg");
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.picd2 {
    height: 620px;
    margin-bottom: 30px;
    background-image: url("../History/img/pic26.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.picd3 {
    height: 620px;
    margin-bottom: 30px;
    background-image: url("../History/img/pic27.jpg");
    background-position: 50% 37%;
    background-size: cover;
    background-repeat: no-repeat;
}

.picd4 {
    height: 620px;
    margin-bottom: 30px;
    background-image: url("../History/img/pic28.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.picd5 {
    height: 620px;
    margin-bottom: 30px;
    background-image: url("../History/img/pic29.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.picd6 {
    height: 620px;
    margin-bottom: 30px;
    background-image: url("../History/img/pic30.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.picd7 {
    height: 620px;
    margin-bottom: 30px;
    background-image: url("../History/img/pic31.jpg");
    background-position: 50% -30px;
    background-size: cover;
    background-repeat: no-repeat;
}

.phase1-subheading {
    color: #534951;
    font-size: 25px;
    line-height: 30px;
}

.source {
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #534951;
}

.source-container {
    margin-right: auto;
    margin-left: auto;
    width: 900px;
}

.source-heading {
    margin-top: 0px;
    color: #fff;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
}

.source-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 4px;
}

.source-row {
    padding: 10px 0;
    -webkit-box-flex: 250px;
    -ms-flex: 250px;
    flex: 250px;
    text-align: center;
}

.source-subheading1 {
    margin-bottom: 0px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
}

.source-pic1 {
    height: 260px;
    background-image: url("../History/img/pic32.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.source-pic2 {
    height: 260px;
    background-image: url("../History/img/pic33.jpg");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.source-pgraph {
    margin-bottom: 20px;
    color: #fff;
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
}

.footer {
    height: 10%;
    padding:20px 0;
    background-color: #534951;
    color: #fff;
    border-top: 1px solid white;
}

.footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.social-media-text {
    display: inline-block;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right;
}

.social-icons {
    display: inline-block;
    padding-left: 10px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: left;
}

.social-icon-link {
    padding: 3px;
    padding-right: 5px;
    opacity: 0.66;
    -webkit-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

.social-icon-link:hover {
    opacity: 1;
}

.social-icon-link img {
    width: 1.5rem;
}

@media (max-width: 991px) {
    ._1-intro {
        padding-top: 40%;
    }
    .intro-pgraph {
        font-size: 25px;
        line-height: 30px;
    }
    ._2-intro {
        padding-top: 40%;
    }
    .intro-container {
        padding-right: 0px;
        padding-left: 0px;
    }
    ._3-intro {
        padding-top: 40%;
    }
    .page1-container {
        bottom: 10%;
    }
    .paragraph {
        font-size: 25px;
        line-height: 30px;
    }
    .heading {
        font-size: 45px;
        line-height: 50px;
    }
    .page2 {
        height: 650px;
    }
    .heading-2 {
        font-size: 25px;
        line-height: 30px;
    }
    .page3 {
        height: auto;
    }
    .page3-container {
        width: 80%;
    }
    .page4 {
        height: auto;
        padding-bottom: 30px;
    }
    .page4-container {
        position: static;
        bottom: 15%;
    }
    .page4-pgraph {
        display: block;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        border: 1px solid #534951;
        border-radius: 4px;
        text-align: left;
    }
    .page5 {
        height: auto;
        background-color: #fff;
    }
    .land1 {
        height: auto;
        background-color: #000;
    }
    .land2 {
        height: auto;
        padding-bottom: 30px;
        background-color: #fff;
    }
    .raise1 {
        padding-bottom: 0px;
        background-color: #000;
    }
    .raise2 {
        padding-bottom: 0px;
        background-color: #000;
    }
    .raise4 {
        padding-bottom: 40px;
        background-color: #000;
    }
    .raise6 {
        padding-bottom: 0px;
        background-color: #000;
    }
    .raise3 {
        padding-bottom: 0px;
        background-color: #000;
    }
    .raise5 {
        padding-bottom: 40px;
        background-color: #000;
    }
    .process1 {
        background-color: #000;
    }
    .process2 {
        background-color: #000;
    }
    .process3 {
        background-color: #000;
    }
    .process10 {
        background-color: #000;
    }
    .page-dedication {
        padding-top: 35%;
    }
    .intro-heading {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 45px;
        line-height: 50px;
    }
    .page5-container {
        position: static;
        bottom: 0px;
        margin-top: 30px;
        margin-bottom: 30px;
        border: 1px solid #64505a;
        background-color: transparent;
    }
    .page5-pgraph {
        color: #64505a;
        text-align: left;
    }
    .land-container {
        position: static;
        width: 100%;
        border-radius: 0px;
        background-color: #000;
    }
    .land-container2 {
        position: static;
        bottom: 0px;
        border: 1px solid #64505a;
        background-color: #fff;
    }
    .land-pgraph2 {
        text-align: left;
    }
    .raise-container {
        bottom: 0px;
        width: 100%;
        border-radius: 0px;
        background-color: #000;
    }
    .process-container {
        bottom: 0px;
        width: 100%;
    }
    .process4 {
        background-color: #000;
    }
    .process5 {
        background-color: #000;
    }
    .process6 {
        background-color: #000;
    }
    .process7 {
        background-color: #000;
    }
    .process8 {
        background-color: #000;
    }
    .process9 {
        background-color: #000;
    }
    .process11 {
        background-color: #000;
    }
    .fund-pgraph {
        line-height: 20px;
    }
    .fund-heading {
        margin-bottom: 10px;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        font-size: 45px;
        line-height: 50px;
    }
    .fund-container {
        position: static;
        bottom: 20%;
        padding-right: 30px;
        padding-left: 30px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .find-land {
        height: auto;
    }
    .find-container {
        position: static;
        bottom: 15%;
        padding-right: 30px;
        padding-left: 30px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .find-heading {
        margin-bottom: 10px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        font-size: 45px;
        line-height: 50px;
        text-align: right;
    }
    .land-pgraph {
        color: #fff;
    }
    .page17-container {
        position: static;
        bottom: 10%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .heading-3 {
        margin-bottom: 10px;
        padding-right: 0px;
        padding-left: 20px;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        font-size: 45px;
        line-height: 50px;
        text-align: center;
    }
    .raise-heading {
        font-size: 45px;
        line-height: 50px;
    }
    .dedication-heading {
        padding-right: 90px;
        padding-left: 90px;
        font-size: 45px;
        line-height: 50px;
    }
    .progress-container {
        padding-right: 20px;
        padding-left: 20px;
    }
    .phase1-end {
        padding-top: 25%;
    }
    .phase1-container {
        width: 90%;
    }
    .phase1-heading {
        text-align: left;
    }
    .phase1-pgraph {
        padding-left: 20px;
        text-align: left;
    }
    .paged1 {
        background-color: #fff;
    }
    .paged2 {
        background-color: #fff;
    }
    .paged3 {
        background-color: #fff;
    }
    .paged4 {
        background-color: #fff;
    }
    .paged5 {
        background-color: #fff;
    }
    .paged7 {
        background-color: #fff;
    }
    .d1-container {
        bottom: 0px;
        width: 90%;
    }
    .d2-container {
        bottom: 0px;
        width: 70%;
    }
    .d3-container {
        bottom: 0px;
        width: 60%;
    }
    .d4-container {
        bottom: 0px;
        width: 75%;
        margin-bottom: 0px;
    }
    .d5-container {
        bottom: 0px;
        width: 32%;
    }
    .d6-container {
        bottom: 0px;
        width: 75%;
    }
    .d7-container {
        bottom: 0px;
        width: 35%;
    }
    .pic1 {
        height: 650px;
    }
    .pic5 {
        height: 650px;
        background-position: 50% 50%;
        background-size: cover;
    }
    .pic3 {
        height: 650px;
    }
    .pic4 {
        height: 550px;
        margin-bottom: 30px;
        background-size: cover;
    }
    .pic6 {
        height: 550px;
    }
    .pic7 {
        height: 550px;
        margin-bottom: 30px;
        background-position: 50% 0px;
        background-size: cover;
    }
    .pic8 {
        height: 480px;
        margin-bottom: 0px;
        background-size: cover;
    }
    .pic9{
        height: 550px;
        margin-bottom: 0px;
        background-size: cover;
    }
    .pic10 {
        height: 600px;
        margin-bottom: 0px;
        background-size: cover;
    }
    .pic11 {
        margin-bottom: 0px;
    }
    .pic12 {
        margin-bottom: 0px;
    }
    .pic13 {
        margin-bottom: 0px;
    }
    .process6-pic {
        background-size: cover;
    }
    .picd7 {
        height: 550px;
        background-position: 50% 50%;
    }
    .phase1-subheading {
        padding-left: 20px;
        text-align: left;
    }
    .source-heading {
        font-size: 40px;
        line-height: 45px;
    }
    .source-div {
        width: 93%;
    }
    .source-pgraph {
        font-size: 20px;
        line-height: 25px;
    }
}

@media (max-width: 767px) {
    ._1-intro {
        padding-top: 55%;
    }
    ._2-intro {
        padding-top: 55%;
    }
    .intro-container {
        padding-right: 20px;
        padding-left: 20px;
    }
    .page1-container {
        width: 85%;
        padding-right: 30px;
        padding-left: 30px;
    }
    .paragraph {
        line-height: 25px;
    }
    .heading {
        margin-bottom: 10px;
        font-size: 40px;
        line-height: 40px;
    }
    .page4-container {
        position: static;
        bottom: 0%;
        background-color: #fff;
    }
    .page4-pgraph {
        padding-right: 15px;
        padding-left: 30px;
        text-align: left;
    }
    .raise-fund {
        background-color: #fff;
    }
    .raise7 {
        background-color: #fff;
    }
    .page17 {
        background-color: #fff;
    }
    .page-dedication {
        background-color: #fff;
    }
    .intro-heading {
        font-size: 40px;
        line-height: 45px;
    }
    .page5-pgraph {
        padding-right: 20px;
        padding-left: 30px;
        text-align: left;
    }
    .process-container {
        bottom: 0px;
    }
    .process-pgraph {
        padding-right: 30px;
        padding-left: 30px;
    }
    .fund-heading {
        padding-right: 0px;
        -webkit-box-flex: 0;
        -ms-flex: 0 auto;
        flex: 0 auto;
        text-align: left;
    }
    .fund-container {
        bottom: 7%;
        padding-right: 35px;
        padding-left: 35px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: left;
    }
    .find-land {
        background-color: #fff;
    }
    .find-container {
        bottom: 10%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .find-heading {
        -ms-flex-preferred-size: 60px;
        flex-basis: 60px;
    }
    .land-pgraph {
        padding-right: 30px;
        padding-left: 30px;
    }
    .page17-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .heading-3 {
        padding-right: 0px;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        text-align: left;
    }
    .raise-container2 {
        padding-right: 50px;
        padding-left: 50px;
    }
    .raise-heading {
        text-align: left;
    }
    .dedication-container {
        top: 35%;
        padding-right: 35px;
        padding-left: 35px;
    }
    .dedication-heading {
        text-align: left;
    }
    .phase1-end {
        background-color: #fff;
    }
    .phase1-container {
        width: 90%;
    }
    .phase1-heading {
        font-size: 50px;
        line-height: 55px;
        text-align: center;
    }
    .phase1-pgraph {
        padding-left: 0px;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
    }
    .d1-container {
        bottom: 0px;
        width: 90%;
    }
    .d2-container {
        bottom: 0px;
        width: 72%;
    }
    .d3-container {
        bottom: 0px;
        width: 82%;
    }
    .d4-container {
        bottom: 0px;
        width: 90%;
    }
    .d5-container {
        bottom: 0px;
        width: 43%;
        border: 1px solid #c6a677;
    }
    .d6-container {
        bottom: 0px;
        width: 78%;
    }
    .d7-container {
        bottom: 0px;
        width: 48%;
        border: 1px solid #c6a677;
    }
    .raise-pgraph {
        padding-right: 30px;
        padding-left: 30px;
    }
    .pic1 {
        background-position: -39px 50%;
    }
    .pic4 {
        height: 450px;
        background-size: cover;
    }
    .pic7 {
        background-position: 50% 0px;
    }
    .pic8 {
        background-position: 50% 50%;
        background-size: cover;
    }
    .pic9{
        background-size: cover;
    }
    .phase1-subheading {
        padding-left: 0px;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
    }
    .source {
        padding-top: 100px;
    }
    .source-container {
        padding-right: 50px;
        padding-left: 50px;
    }
    .source-heading {
        font-size: 35px;
        line-height: 35px;
        font-weight: 700;
        text-align: left;
    }
    .source-div {
        width: 100%;
        padding-top: 0px;
    }
    .source-pgraph {
        font-size: 18px;
        line-height: 23px;
        text-align: left;
    }
}

@media (max-width: 479px) {
    ._1-intro {
        padding-top: 80%;
    }
    .intro-pgraph {
        padding-right: 30px;
        padding-left: 30px;
        font-size: 20px;
        line-height: 25px;
    }
    ._2-intro {
        padding-top: 80%;
    }
    ._3-intro {
        padding-top: 80%;
    }
    .page1 {
        background-color: #141e28;
        background-position: 50% 40%;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .page1-container {
        position: static;
        left: 0px;
        right: 0px;
        bottom: 5%;
        width: 90%;
        padding-right: 0px;
        padding-left: 0px;
        background-color: #fff;
    }
    .paragraph {
        font-size: 20px;
        line-height: 25px;
    }
    .heading {
        margin-bottom: 5px;
        line-height: 40px;
    }
    .page2 {
        background-position: 34% 50%;
    }
    .page2-container {
        bottom: 35%;
    }
    .page3 {
        padding-bottom: 20px;
    }
    .page3-container {
        position: static;
        bottom: 10%;
        width: 90%;
        padding-right: 0px;
        padding-left: 0px;
        background-color: #fff;
    }
    .page4-pgraph {
        padding: 0px 0px 0px 15px;
        border-style: none;
        font-size: 16px;
        line-height: 20px;
        text-align: left;
    }
    .raise4 {
        padding-bottom: 0px;
    }
    .raise5 {
        padding-bottom: 0px;
    }
    .page-dedication {
        padding-top: 70%;
    }
    .page5-container {
        border-style: none;
    }
    .page5-pgraph {
        padding: 0px 0px 0px 15px;
        font-size: 16px;
        line-height: 20px;
        text-align: left;
    }
    .land-container {
        width: 90%;
    }
    .find-pgraph {
        padding-right: 0px;
        padding-left: 0px;
        font-size: 16px;
        line-height: 20px;
    }
    .land-pgraph2 {
        font-size: 16px;
        line-height: 20px;
        text-align: left;
    }
    .process-pgraph {
        font-size: 16px;
        line-height: 20px;
    }
    .process6 {
    }
    .process11 {
    }
    .raise-container {
        padding-right: 0px;
        padding-left: 0px;
    }
    .fund-pgraph {
        font-size: 16px;
    }
    .fund-heading {
        font-size: 40px;
        line-height: 45px;
        text-align: left;
    }
    .fund-container {
        padding-right: 30px;
        padding-left: 30px;
    }
    .find-container {
        padding-right: 20px;
        padding-left: 30px;
    }
    .find-heading {
        font-size: 40px;
        line-height: 45px;
        text-align: left;
    }
    .land-pgraph {
        padding-right: 0px;
        padding-left: 0px;
        font-size: 16px;
        line-height: 20px;
    }
    .heading-3 {
        margin-bottom: 5px;
        font-size: 40px;
        line-height: 40px;
        text-align: left;
    }
    .raise-heading {
        font-size: 40px;
        line-height: 45px;
    }
    .dedication-container {
        padding-right: 20px;
        padding-left: 30px;
    }
    .dedication-heading {
        padding-right: 0px;
        padding-left: 0px;
        font-size: 40px;
        line-height: 40px;
        text-align: left;
    }
    .progress-pgraph {
        font-size: 16px;
        line-height: 20px;
    }
    .phase1-end {
        padding-top: 35%;
    }
    .phase1-heading {
        padding-left: 15px;
        font-size: 45px;
        line-height: 45px;
        text-align: left;
    }
    .phase1-pgraph {
        padding-right: 5px;
        padding-left: 15px;
        font-size: 18px;
        line-height: 23px;
        text-align: left;
    }
    .paged1 {
        padding-bottom: 10px;
    }
    .paged2 {
    }
    .d1-pgraph {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 16px;
        line-height: 20px;
    }
    .d2-container {
        width: 90%;
    }
    .d2-pgraph {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 16px;
        line-height: 20px;
    }
    .d3-container {
        width: 90%;
    }
    .d3-pgraph {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 16px;
        line-height: 20px;
    }
    .d4-pgraph {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 16px;
        line-height: 20px;
    }
    .d5-container {
        width: 65%;
    }
    .d5-pgraph {
        font-size: 16px;
        line-height: 20px;
    }
    .d6-container {
        width: 90%;
    }
    .d6-pgraph {
        font-size: 16px;
        line-height: 20px;
    }
    .d7-container {
        width: 70%;
    }
    .d7-pgraph {
        font-size: 16px;
        line-height: 20px;
    }
    .raise-pgraph {
        font-size: 16px;
        line-height: 20px;
    }
    .raise-container {
        width: 90%;
    }
    .pic1 {
        height: 300px;
        margin-bottom: 20px;
    }
    .pic5 {
        height: 300px;
        background-size: cover;
    }
    .pic3 {
        height: 300px;
        margin-bottom: 20px;
        background-position: 50% 50%;
        background-size: cover;
    }
    .pic4 {
        height: 300px;
        background-position: 50% 50%;
    }
    .pic6 {
        height: 300px;
        background-position: 100% 50%;
    }
    .pic7 {
        height: 300px;
    }
    .pic8 {
        height: 200px;
        background-position: 50% 0px;
        background-size: contain;
    }
    .pic9{
        height: 230px;
        background-size: contain;
    }
    .pic10 {
        height: 250px;
        background-size: contain;
    }
    .pic11 {
        height: 250px;
        background-size: cover;
    }
    .pic12 {
        height: 500px;
        background-size: cover;
    }
    .pic13 {
        height: 300px;
        background-position: 100% 50%;
        background-size: cover;
    }
    .process1-pic {
        height: 220px;
        background-position: 50% 50%;
        background-size: cover;
    }
    .process2-pic {
        height: 220px;
        background-position: 50% 50%;
    }
    .process3-pic {
        height: 250px;
        background-position: 50% 50%;
        background-size: cover;
    }
    .process4-pic {
        height: 220px;
        background-size: cover;
    }
    .process5-pic {
        height: 220px;
    }
    .process6-pic {
        height: 220px;
        background-position: 0px 50%;
        background-size: cover;
    }
    .process7-pic {
        height: 220px;
    }
    .process8-pic {
        height: 220px;
    }
    .process9-pic {
        height: 220px;
    }
    .process10-pic {
        height: 220px;
    }
    .process11-pic {
        height: 220px;
    }
    .picd1 {
        height: 200px;
        background-position: 50% 50%;
    }
    .picd2 {
        height: 200px;
        margin-bottom: 10px;
        background-size: contain;
    }
    .picd3 {
        height: 200px;
        background-position: 50% 50%;
        background-size: cover;
    }
    .picd4 {
        height: 200px;
    }
    .picd5 {
        height: 200px;
    }
    .picd6 {
        height: 200px;
    }
    .picd7 {
        height: 200px;
    }
    .phase1-subheading {
        padding-left: 15px;
        font-size: 18px;
        line-height: 23px;
        text-align: left;
    }
    .source {
        padding-bottom: 80px;
    }
    .source-container {
        padding-right: 30px;
        padding-left: 30px;
    }
    .source-heading {
        font-size: 30px;
        line-height: 35px;
        font-weight: 400;
        text-align: left;
    }
    .source-div {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .source-pgraph {
        text-align: left;
    }
}