html {
    font-family: 'Droid Serif', serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #fff;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

body {
    margin: 0
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

img {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    height: 100%
}

body {
    margin: 0;
    min-height: 100%;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block
}

h1 {
    font-weight: bold;
    margin-bottom: 10px
}

h1 {
    font-size: 38px;
    line-height: 44px;
    margin-top: 20px
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

.w-container:before,
.w-container:after {
    content: " ";
    display: table
}

.w-container:after {
    clear: both
}

@media screen and ( max-width: 1024px) {
    .w-container {
        max-width: 80%;
    }
}

@media screen and (max-width: 991px) {
    .w-container {
        max-width: 728px
    }
}

@media screen and (max-width: 479px) {
    .w-container {
        max-width: none
    }
}


/* ==========================================================================
   Start of custom CSS
   ========================================================================== */

._1-intro,
._2-intro,
._3-intro {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #141e28;
    text-align: center;
    opacity: 1;
    display: none;
    -webkit-animation: out 4s ease forwards 2s;
    animation: out 4s ease forwards 2s
}

@-webkit-keyframes out {
    from {
        opacity: 1;
        display: block;
    }
    to {
        opacity: 0;
        display: none;
    }
}

@keyframes out {
    from {
        opacity: 1;
        display: block;
    }
    to {
        opacity: 0;
        display: none;
    }
}

._1-intro {
    z-index: 1003;
}

._2-intro {
    z-index: 1002;
    -webkit-animation-delay: 5s;
    animation-delay: 5s
}

._3-intro {
    z-index: 1001;
    -webkit-animation-delay: 9s;
    animation-delay: 9s
}

.intro-container {
    position: relative;
    top: 50%;
    -webkit-transform: perspective(1px) translateY(-50%);
    transform: perspective(1px) translateY(-50%);
    padding-right: 50px;
    padding-left: 50px;
}

.intro-heading {
    color: #fff;
    font-size: 60px;
    line-height: 65px;
    font-weight: 400;
}

.intro-pgraph {
    margin-bottom: 0px;
    color: #fff;
    font-size: 30px;
    line-height: 35px;
}

.top-nav {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: transparent;
    border-bottom: 1px solid transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 8vh;
    padding: 0 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    transition: all 500ms ease;
    z-index: 1000;
}

.text-block,
.link {
    font-size: 20px;
    color: white;
}

.text-block {
    display: inline-block;
}

.link {
    text-decoration: none;
}

.page1,
.page2,
.page3,
.page4,
.page5 {
    position: relative;
}

.page2 {
    height: 100vh;
    background-image: url("../History/img/pic2.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.page1-container {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    border-radius: 4px;
    background-color: hsla(0, 0%, 100%, .85);
    text-align: center;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 12s;
    animation-delay: 12s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.heading {
    margin-top: 0px;
    color: #34231c;
    font-size: 60px;
    line-height: 65px;
}

.heading,
.paragraph {
    display: block;
    margin-bottom: 0px;
    color: #34231c;
    font-weight: 700;
    text-align: center;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 12s;
    animation-delay: 12s;
    -webkit-animation-iteration-count: 3;
    animation-iteration-count: 3;
}

.paragraph {
    font-size: 30px;
    line-height: 35px;
}

.page2-container,
.page3-container,
.page4-container,
.page5-container {
    position: absolute;
    left: 0px;
    right: 0px;
}

.page2-container {
    bottom: 40%;
    padding-right: 10%;
    padding-left: 10%;
}

.page3-container {
    bottom: 25%;
    width: 45%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    border-radius: 4px;
    background-color: hsla(0, 0%, 100%, .85);
    text-align: center;
}

.page4-container,
.page5-container {
    bottom: 5%;
}

.page2-heading {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff;
    font-size: 35px;
    line-height: 40px;
    font-weight: 400;
}

.page4-pgraph,
.page5-pgraph {
    padding: 20px;
    color: #534951;
    border-radius: 4px;
    background-color: hsla(0, 0%, 100%, .85);
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    text-align: center;
}

.find-pgraph,
.fund-pgraph,
.progress-pgraph {
    color: #534951;
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
}

.page5-pgraph {
    width: 90%;
    margin: 0 auto;
}

.find-container,
.fund-container,
.progress-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    top: 50%;
    -webkit-transform: perspective(1px) translateY(-50%);
    transform: perspective(1px) translateY(-50%);
}

.find-heading,
.fund-heading,
.progress-heading {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 30px;
    color: #534951;
    font-size: 60px;
    line-height: 65px;
    text-align: right;
}

.find-heading,
.fund-heading,
.progress-heading {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 300px;
    flex: 0 0 300px;
}

.find-land,
.land1,
.land2,
.raise-fund,
.raise7,
.progress,
.page-dedication {
    position: relative;
    height: 100vh;
}

.raise1,
.raise2,
.raise3,
.raise4,
.raise5,
.raise6 {
    position: relative;
    padding-bottom: 60px;
    background-color: #232321;
}

.fund-table {
    margin: 50px auto;
    width: 60%;
    text-align: center;
    border-radius: 4px;
}

.fund-table tr {
    background-color: #F6F7F8;
    color: #534951;
}

.fund-table tr:hover {
    background-color: #534951;
    color: white;
}

.fund-table th {
    background-color: #534951;
    border: 2px solid white;
    color: white;
}

.fund-table th,
.fund-table td {
    font-size: 35px;
    padding: 10px 15px;
    line-height: 40px;
    font-weight: 400;
}

.fund-table td {
    border: 2px solid white;
}

.land-container,
.land-container2 {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 5%;
}

.land-pgraph,
.land-pgraph2 {
    padding: 15px 20px;
    margin: 0 auto;
    color: #534951;
    background-color: hsla(0, 0%, 100%, .85);
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    border-radius: 4px;
}

.land-pgraph {
    width: 40%;
}

.land-pgraph2 {
    width: 82%;
}

.fund-row {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

.raise-container2 {
    text-align: center;
    position: relative;
    top: 55%;
    -webkit-transform: perspective(1px) translateY(-50%);
    transform: perspective(1px) translateY(-50%);
}

.raise-heading {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #534951;
    font-size: 60px;
    line-height: 65px;
}

.pic1,
.pic3,
.pic4,
.pic5,
.pic6,
.pic7 {
    height: 100vh;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.pic1 {
    background-image: url("../History/img/pic1.jpg");
}

.pic3 {
    background-image: url("../History/img/pic3a.jpg");
}

.pic4 {
    background-image: url("../History/img/pic4.jpg");
}

.pic5 {
    background-image: url("../History/img/pic5.jpg");
    background-position: 50% 84%;
}

.pic6 {
    background-image: url("../History/img/pic6.jpg");
    background-position: 50% 50%;
}

.pic7 {
    background-image: url("../History/img/pic7.jpg");
    background-position: 50% 100%;
}

.pic8,
.pic9,
.pic10,
.pic11,
.pic12,
.pic13 {
    height: 90vh;
    margin-bottom: 3vh;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.raise-container {
    height: 7vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.raise-pgraph {
    padding: 15px 20px;
    color: #534951;
    background-color: #fff;
    border-radius: 4px;
}

.raise-pgraph,
.process-pgraph {
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    -webkit-transform: perspective(1px) translateY(-50%);
    transform: perspective(1px) translateY(-50%);
}

.process-pgraph {
    color: #fff;
    text-align: center;
}

.pic8 {
    background-image: url("../History/img/pic8.jpg");
}

.pic9 {
    background-image: url("../History/img/pic9a.jpg");
}

.pic10 {
    background-image: url("../History/img/pic10a.jpg");
}

.pic11 {
    background-image: url("../History/img/pic11a.jpg");
    background-size: cover;
}

.pic12 {
    background-image: url("../History/img/pic12a.jpg");
}

.pic13 {
    background-image: url("../History/img/pic13a.jpg");
    background-size: cover;
}

.process1,
.process2,
.process3,
.process4,
.process5,
.process6,
.process7,
.process8,
.process9,
.process10,
.process11 {
    position: relative;
    background-color: #232321;
}

.process1-pic,
.process2-pic,
.process3-pic,
.process4-pic,
.process5-pic,
.process6-pic,
.process7-pic,
.process8-pic,
.process9-pic,
.process10-pic,
.process11-pic {
    height: 93vh;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.process-container {
    height: 7vh;
    display: -webkit-box;
    display: -ms-flexbox;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.process1-pic {
    background-image: url("../History/img/pic14.jpg");
    background-position: 50% 100%;
}

.process2-pic {
    background-image: url("../History/img/pic15.jpg");
    background-position: 50% 0%;
}

.process3-pic {
    background-image: url("../History/img/pic16.jpg");
}

.process4-pic {
    background-image: url("../History/img/pic17.jpg");
}

.process5-pic {
    background-image: url("../History/img/pic18.jpg");
}

.process6-pic {
    background-image: url("../History/img/pic19.jpg");
}

.process7-pic {
    background-image: url("../History/img/pic20.jpg");
}

.process8-pic {
    background-image: url("../History/img/pic21.jpg");
}

.process9-pic {
    background-image: url("../History/img/pic22.jpg");
}

.process10-pic {
    background-image: url("../History/img/pic23.jpg");
}

.process11-pic {
    background-image: url("../History/img/pic24.jpg");
}

.dedication-container {
    padding-right: 50px;
    padding-left: 50px;
    position: relative;
    top: 50%;
    -webkit-transform: perspective(1px) translateY(-50%);
    transform: perspective(1px) translateY(-50%);
}

.dedication-heading {
    width: 60%;
    margin: 0 auto;
    color: #c6a677;
    font-size: 60px;
    line-height: 65px;
    text-align: center;
}

.paged1,
.paged2,
.paged3,
.paged4,
.paged5,
.paged6,
.paged7 {
    position: relative;
    padding-bottom: 4vh;
}

.picd1,
.picd2,
.picd3,
.picd4,
.picd5,
.picd6,
.picd7 {
    height: 85vh;
    margin-bottom: 4vh;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.picd1 {
    background-image: url("../History/img/pic25.jpg");
    background-position: 50% 100%;
}

.picd2 {
    background-image: url("../History/img/pic26.jpg");
}

.picd3 {
    background-image: url("../History/img/pic27.jpg");
    background-position: 50% 37%;
}

.picd4 {
    background-image: url("../History/img/pic28.jpg");
}

.picd5 {
    background-image: url("../History/img/pic29.jpg");
}

.picd6 {
    background-image: url("../History/img/pic30.jpg");
}

.picd7 {
    background-image: url("../History/img/pic31.jpg");
    background-position: 50% -30px;
}

.d1-container,
.d2-container,
.d3-container,
.d4-container,
.d5-container,
.d6-container,
.d7-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.d1-pgraph,
.d2-pgraph,
.d3-pgraph,
.d4-pgraph,
.d5-pgraph,
.d6-pgraph,
.d7-pgraph {
    padding: 15px;
    color: #c6a677;
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    border: 1px solid #c6a677;
    border-radius: 4px;
    background-color: #fff;
}

.phase1-end {
    height: 100vh;
    border-top: 2px solid #c6a677;
}

.phase1-container {
    display: block;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: perspective(1px) translateY(-50%);
    transform: perspective(1px) translateY(-50%);
}

.phase1-heading {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px;
    color: #534951;
    font-size: 70px;
    line-height: 80px;
    text-align: left;
}

.phase1-pgraph,
.phase1-subheading {
    color: #534951;
    font-size: 30px;
    line-height: 35px;
}

.source {
    height: 92vh;
    background-color: #232321;
}

.source-container {
    margin-right: auto;
    margin-left: auto;
    width: 900px;
    position: relative;
    top: 55%;
    -webkit-transform: perspective(1px) translateY(-50%);
    transform: perspective(1px) translateY(-50%);
}

.source-heading {
    margin-top: 0px;
    color: #fff;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
}

.source-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 4px;
}

.source-row {
    padding: 10px 0;
    -webkit-box-flex: 250px;
    -ms-flex: 250px;
    flex: 250px;
}

.source-pgraph {
    margin-bottom: 20px;
}

.source-pgraph,
.source-subheading1 {
    color: white;
    font-weight: 400;
    text-align: center;
}

.source-pgraph,
.source-subheading1 {
    font-size: 30px;
    line-height: 35px;
}

.source-subheading1 {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 0px;
}

.source-pic1,
.source-pic2 {
    height: 260px;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.source-pic1 {
    background-image: url("../History/img/pic32.jpg");
}

.source-pic2 {
    background-image: url("../History/img/pic33.jpg");
}

.footer {
    height: 8vh;
    background-color: #232321;
    color: #fff;
    border-top: 1px solid white;
}

.footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    top: 50%;
    -webkit-transform: perspective(1px) translateY(-50%);
    transform: perspective(1px) translateY(-50%);
}

.social-media-text {
    display: inline-block;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right;
}

.social-icons {
    display: inline-block;
    padding-left: 10px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: left;
}

.social-icon-link {
    padding: 3px;
    padding-right: 5px;
    opacity: 0.66;
    -webkit-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

.social-icon-link:hover {
    opacity: 1;
}

.social-icon-link img {
    width: 1.5rem;
}


/* ----------- Laptop with HiDPI ----------- */

@media screen and ( max-width: 1441px) and (orientation: landscape) {
    .pic5 {
        background-position: 50% 100%;
    }
    .pic7 {
        background-position: 50% 55%;
    }
    .raise-container2 {
        width: 65%;
    }
    .fund-table {
        width: 85%;
    }
    .dedication-heading {
        width: 65%;
    }
}


/* ----------- iPad Pro Landscape ----------- */

@media screen and ( max-width: 1370px) and (orientation: landscape) {
    .page1-container {
        width: 65%;
    }
    .raise1,
    .raise2,
    .raise3,
    .raise4,
    .raise5,
    .raise6 {
        padding-bottom: 5vh;
    }
    .pic5 {
        background-position: 50% 10%;
    }
    .pic7 {
        background-position: 50% 0%;
    }
    .pic8,
    .pic9,
    .pic10,
    .pic11,
    .pic12,
    .pic13 {
        height: 90vh;
        margin-bottom: 2vh;
        background-position: 50% 100%;
    }
    .fund-table {
        margin: 20px auto;
    }
}


/* ----------- Aspire E1 Laptop Landscape ----------- */

@media screen and ( max-width: 1370px) and (max-height: 670px) {
    .pic5,
    .pic7 {
        background-position: 50% 70%;
    }
    .pic8,
    .pic9,
    .pic10,
    .pic11,
    .pic12,
    .pic13 {
        height: 88vh;
    }
    .raise-container2 {
        width: 90%;
    }
    .fund-table {
        width: 75%;
        margin: 30px auto;
    }
    .source-container {
        top: 56%;
    }
    .source-pgraph {
        margin-bottom: 0;
    }
    .source-div {
        width: 80%;
    }
}


/* ----------- Laptop with Touch ----------- */

@media screen and ( max-width: 1280px) {
    .page1-container {
        width: 70%;
    }
    .page3-container {
        width: 52%;
    }
    .dedication-heading {
        width: 75%;
    }
    .source-container {
        top: 60%;
        width: 800px;
    }
    .source-pgraph {
        margin-bottom: 10px;
    }
    .source-div {
        width: 85%;
    }
}


/* ----------- Laptop with MDPI screen----------- */

@media screen and ( max-width: 1280px) and (max-height: 800px) {
    .fund-table {
        width: 80%;
    }
    .source-container {
        top: 57%;
        width: 900px;
    }
    .source-div {
        width: 75%;
    }
}


/* ----------- S Tab 10.1 Landscape ----------- */

@media screen and ( max-width: 1280px) and (max-height: 670px) {
    .raise-container2 {
        width: 65%;
    }
    .fund-table {
        width: 90%;
        margin: 10px auto;
    }
    .source-pgraph {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 0;
    }
    .source-subheading1 {
        font-size: 20px;
        line-height: 25px;
    }
}


/* ----------- Aspire V3 Laptop Landscape ----------- */

@media screen and ( max-width: 1100px) and (max-height: 520px) {
    .page1-container {
        width: 60%;
        background-color: white;
    }
    .page3-container {
        width: 50%;
    }
    .raise-pgraph {
        padding: 10px 20px;
    }
    .pic8,
    .pic9,
    .pic10,
    .pic11,
    .pic12,
    .pic13 {
        margin-bottom: 4vh;
    }
    .raise-container2 {
        width: 100%;
    }
    .paragraph,
    .fund-table th,
    .fund-table td,
    .phase1-pgraph,
    .phase1-subheading {
        font-size: 25px;
        line-height: 30px;
    }
    .page4-pgraph,
    .page5-pgraph,
    .land-pgraph,
    .land-pgraph2,
    .raise-pgraph,
    .process-pgraph,
    .find-pgraph,
    .fund-pgraph,
    .progress-pgraph,
    .d1-pgraph,
    .d2-pgraph,
    .d3-pgraph,
    .d4-pgraph,
    .d5-pgraph,
    .d6-pgraph,
    .d7-pgraph {
        font-size: 20px;
        line-height: 25px;
    }
    .page5-pgraph {
        width: 100%;
    }
    .page4-container,
    .page5-container {
        max-width: 95%;
        margin: 0 auto;
    }
    .fund-table {
        width: 90%;
    }
    .raise-heading,
    .heading,
    .find-heading,
    .fund-heading,
    .progress-heading,
    .dedication-heading {
        font-size: 45px;
        line-height: 50px;
    }
    .page2-heading {
        font-size: 30px;
        line-height: 30px;
    }
    .process-container {
        height: 9vh;
    }
    .d1-container,
    .d2-container,
    .d3-container,
    .d4-container,
    .d5-container,
    .d6-container,
    .d7-container {
        width: 90%;
        margin: 0 auto;
    }
    .d1-pgraph,
    .d2-pgraph,
    .d3-pgraph,
    .d4-pgraph,
    .d5-pgraph,
    .d6-pgraph,
    .d7-pgraph {
        text-align: center;
    }
    .phase1-heading {
        font-size: 55px;
        line-height: 60px;
    }
    .source-heading {
        font-size: 35px;
        line-height: 35px;
        margin-bottom: 5px;
    }
    .source-subheading1 {
        margin-top: 10px;
    }
    .source-pic1,
    .source-pic2 {
        height: 230px;
    }
}


/* ----------- iPad Pro Potrait------------------*/

@media screen and ( max-width: 1024px) {
    .text-block,
    .link,
    .paragraph,
    .page2-heading {
        font-size: 40px;
        line-height: 45px;
    }
    .heading,
    .find-heading,
    .fund-heading,
    .progress-heading,
    .dedication-heading {
        font-size: 70px;
        line-height: 70px;
    }
    .land-pgraph,
    .land-pgraph2,
    .raise-pgraph,
    .process-pgraph,
    .d1-pgraph,
    .d2-pgraph,
    .d3-pgraph,
    .d4-pgraph,
    .d5-pgraph,
    .d6-pgraph,
    .d7-pgraph {
        font-size: 30px;
        line-height: 35px;
    }
    .page1-container {
        width: 100%;
        background-color: white;
        padding: 30px;
    }
    .pic1 {
        background-position: 20% 50%;
    }
    .heading {
        margin-bottom: 5px;
    }
    .page3-container {
        width: 100%;
        padding: 30px;
    }
    .pic4,
    .pic5 {
        background-size: contain;
        background-position: 50% 30%;
    }
    .page4-container {
        max-width: 90%;
        bottom: 10%;
        background-color: white;
    }
    .page4-pgraph,
    .page5-pgraph,
    .land-pgraph2 {
        text-align: left;
    }
    .page5-pgraph,
    .land-pgraph2 {
        width: 90%;
    }
    .page5-container {
        bottom: 4%;
    }
    .find-pgraph,
    .fund-pgraph,
    .progress-pgraph {
        font-size: 33px;
        line-height: 38px;
    }
    .land-pgraph {
        width: 65%;
    }
    .pic6,
    .pic7 {
        background-size: contain;
        background-position: 50% 50%;
    }
    .land-container {
        bottom: 22%;
    }
    .land-container2 {
        bottom: 10%;
    }
    .raise1,
    .raise2,
    .raise3,
    .raise4,
    .raise5,
    .raise6 {
        padding-bottom: 0;
    }
    .pic8,
    .pic9,
    .pic10,
    .pic11,
    .pic12,
    .pic13 {
        height: 75vh;
        background-position: 50% 100%;
        margin-bottom: 2vh;
    }
    .raise5 {
        padding-top: 10vh;
    }
    .raise5 .raise-container {
        height: 15vh;
    }
    .pic12 {
        height: 75vh;
    }
    .pic11,
    .pic13 {
        background-size: contain;
    }
    .raise-container {
        height: 25vh;
    }
    .raise-pgraph {
        top: 0;
        transform: perspective(1px) translateY(0%);
    }
    .fund-table {
        width: 90%;
    }
    .process1,
    .process2,
    .process3,
    .process4,
    .process5,
    .process6,
    .process7,
    .process8,
    .process9,
    .process10,
    .process11 {
        height: 100vh;
    }
    .process1-pic,
    .process2-pic,
    .process3-pic,
    .process4-pic,
    .process5-pic,
    .process6-pic,
    .process7-pic,
    .process8-pic,
    .process9-pic,
    .process10-pic,
    .process11-pic {
        height: 75vh;
        background-size: contain;
        background-position: 50% 100%;
    }
    .dedication-heading {
        width: 70%;
    }
    .paged1,
    .paged2,
    .paged3,
    .paged4,
    .paged5,
    .paged6,
    .paged7 {
        height: 100vh;
    }
    .picd1,
    .picd2,
    .picd3,
    .picd4,
    .picd5,
    .picd6,
    .picd7 {
        height: 75vh;
        background-size: contain;
        background-position: 50% 100%;
    }
    .d1-container,
    .d2-container,
    .d3-container,
    .d4-container,
    .d5-container,
    .d6-container,
    .d7-container {
        width: 90%;
        margin: 0 auto;
    }
    .d1-pgraph,
    .d2-pgraph,
    .d3-pgraph,
    .d4-pgraph,
    .d5-pgraph,
    .d6-pgraph,
    .d7-pgraph {
        text-align: center;
    }
    .phase1-heading {
        font-size: 70px;
        line-height: 70px;
    }
    .phase1-subheading {
        margin-bottom: 20px;
    }
    .phase1-pgraph,
    .phase1-subheading {
        font-size: 40px;
        line-height: 45px;
    }
    .source-pgraph {
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .source-subheading1 {
        font-size: 30px;
        line-height: 35px;
        margin-top: 30px;
    }
    .social-media-text {
        font-size: 25px;
    }
    .social-icon-link img {
        width: 2.5rem;
        margin-left: 10px;
    }
}


/* ----------- iPad Landscape ----------- */

@media screen and ( max-width: 1024px) and ( max-height: 770px) {
    .text-block,
    .link,
    .paragraph,
    .page2-heading {
        font-size: 30px;
        line-height: 35px;
    }
    .page1-container,
    .page3-container {
        padding: 20px;
    }
    .pic4,
    .pic5 {
        height: 65vh;
        background-size: cover;
    }
    .pic4 {
        background-position: 50% 40%;
    }
    .pic5 {
        background-position: 50% 65%;
    }
    .page4-container,
    .page5-container {
        height: 35vh;
        position: static;
    }
    .page4-pgraph,
    .page5-pgraph,
    .land-pgraph2 {
        font-size: 25px;
        line-height: 30px;
    }
    .pic6,
    .pic7 {
        height: 80vh;
        background-size: cover;
        background-position: 50% 100%;
    }
    .land-container,
    .land-container2 {
        position: static;
    }
    .raise1,
    .raise2,
    .raise3,
    .raise4,
    .raise5,
    .raise6 {
        padding-top: 11vh;
    }
    .raise-container {
        height: 14vh;
    }
    .pic8,
    .pic9 {
        background-size: cover;
        background-position: 50% 50%;
    }
    .heading,
    .find-heading,
    .fund-heading,
    .progress-heading,
    .dedication-heading {
        font-size: 60px;
        line-height: 65px;
    }
    .find-pgraph,
    .fund-pgraph,
    .progress-pgraph {
        font-size: 26px;
        line-height: 31px;
    }
    .land-pgraph,
    .land-pgraph2,
    .raise-pgraph,
    .process-pgraph,
    .d1-pgraph,
    .d2-pgraph,
    .d3-pgraph,
    .d4-pgraph,
    .d5-pgraph,
    .d6-pgraph,
    .d7-pgraph,
    .source-subheading1 {
        font-size: 25px;
        line-height: 30px;
        padding: 10px 15px;
    }
    .process1,
    .process2,
    .process3,
    .process4,
    .process5,
    .process6,
    .process7,
    .process8,
    .process9,
    .process10,
    .process11 {
        padding-top: 11vh;
    }
    .paged1,
    .paged2,
    .paged3,
    .paged4,
    .paged5,
    .paged6,
    .paged7 {
        padding-top: 11vh;
        padding-bottom: 0;
    }
    .process1-pic,
    .process2-pic,
    .process3-pic,
    .process4-pic,
    .process5-pic,
    .process6-pic,
    .process7-pic,
    .process8-pic,
    .process9-pic,
    .process10-pic,
    .process11-pic {
        background-size: cover;
        background-position: 50% 50%;
    }
    .process1-pic {
        background-position: 50% 100%;
    }
    .process2-pic {
        background-position: 50% 0%;
    }
    .picd1,
    .picd2,
    .picd3,
    .picd4,
    .picd5,
    .picd6,
    .picd7 {
        background-size: cover;
        margin-bottom: 2vh;
    }
    .picd7 {
        background-position: 50% 0%;
    }
    .d1-container,
    .d2-container,
    .d3-container,
    .d4-container,
    .d5-container,
    .d6-container,
    .d7-container {
        width: 80%;
    }
    .phase1-heading {
        font-size: 65px;
        line-height: 70px;
    }
    .phase1-pgraph,
    .phase1-subheading,
    .source-pgraph {
        font-size: 30px;
        line-height: 35px;
    }
    .source-heading {
        font-size: 50px;
        line-height: 55px;
        padding: 0 100px;
    }
    .social-media-text {
        font-size: 20px;
    }
    .social-icon-link img {
        width: 1.8rem;
        margin-left: 5px;
    }
}


/* ----------- iPad Mini 4 Landscape ----------- */

@media screen and ( max-width: 1024px) and ( max-height: 680px) {
    .text-block,
    .link {
        font-size: 25px;
        line-height: 30px;
    }
    .page4 {
        margin-bottom: 30px;
    }
    .raise-fund {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .w-container {
        max-width: 90%;
    }
    .pic8 {
        background-position: 50% 0%;
    }
    .pic9 {
        background-position: 50% 62%;
    }
    .pic11 {
        background-size: cover;
    }
    .raise7,
    .progress {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .source-heading {
        font-size: 45px;
        line-height: 50px;
    }
    .source-pgraph {
        margin-bottom: 5px;
    }
    .source-subheading1 {
        margin-top: 5px;
    }
}


/* ----------- Lenova IdeaPad Laptop Landscape ----------- */

@media screen and ( max-width: 1024px) and ( max-height: 510px) {
    .heading,
    .find-heading,
    .fund-heading,
    .progress-heading,
    .dedication-heading {
        font-size: 50px;
        line-height: 55px;
    }
    .page4-pgraph,
    .page5-pgraph,
    .land-pgraph2 {
        font-size: 20px;
        line-height: 25px;
    }
    .pic4 {
        background-position: 50% 90%;
    }
    .pic4,
    .pic5 {
        height: 75vh;
    }
    .w-container,
    .land-container2 {
        max-width: 95%;
        margin: 0 auto;
    }
    .page4-pgraph,
    .page5-pgraph {
        padding-right: 0;
    }
    .page5-pgraph,
    .land-pgraph2 {
        width: 100%;
    }
    .find-pgraph,
    .fund-pgraph,
    .progress-pgraph,
    .land-pgraph,
    .land-pgraph2,
    .raise-pgraph,
    .process-pgraph,
    .d1-pgraph,
    .d2-pgraph,
    .d3-pgraph,
    .d4-pgraph,
    .d5-pgraph,
    .d6-pgraph,
    .d7-pgraph,
    .source-subheading1 {
        font-size: 20px;
        line-height: 25px;
    }
    .pic7 {
        background-position: 50% 70%;
    }
    .pic8,
    .pic9 {
        background-size: contain;
    }
    .pic11 {
        background-position: 50% 50%;
    }
    .process1-pic,
    .process2-pic,
    .process3-pic,
    .process4-pic,
    .process5-pic,
    .process6-pic,
    .process7-pic,
    .process8-pic,
    .process9-pic,
    .process10-pic,
    .process11-pic {
        height: 80vh;
    }
    .process7-pic {
        background-position: 50% 30%;
    }
    .process10-pic {
        background-position: 50% 100%;
    }
    .dedication-heading {
        width: 50%;
    }
    .paged7 {
        margin-bottom: 30px;
    }
    .d1-container,
    .d2-container,
    .d3-container,
    .d4-container,
    .d5-container,
    .d6-container,
    .d7-container {
        width: 100%;
    }
    .picd1 {
        background-position: 50% 100%;
    }
    .picd4 {
        background-position: 50% 55%;
    }
    .picd2,
    .picd3,
    .picd5,
    .picd6 {
        background-position: 50% 50%;
    }
    .picd7 {
        background-position: 50% 25%;
    }
    .phase1-heading {
        font-size: 55px;
        line-height: 60px;
    }
    .phase1-pgraph,
    .phase1-subheading,
    .source-pgraph {
        font-size: 25px;
        line-height: 30px;
    }
    .source-heading {
        font-size: 40px;
        line-height: 45px;
        padding: 0;
    }
    .source-row {
        padding: 0;
    }
    .source-div {
        width: 80%;
    }
    .social-media-text {
        font-size: 18px;
    }
    .social-icon-link img {
        width: 1.5rem;
        margin-left: 0;
    }
}


/* ----------- S Note 8.0 Landscape ----------- */

@media screen and ( max-width: 970px) and (max-height: 490px) {
    .intro-pgraph {
        font-size: 25px;
        line-height: 30px;
    }
    .intro-container {
        padding-right: 0px;
        padding-left: 0px;
    }
    .text-block,
    .link {
        font-size: 20px;
        line-height: 25px;
    }
    .page1-container {
        bottom: 15%;
        padding: 15px;
    }
    .raise-heading,
    .heading,
    .find-heading,
    .fund-heading,
    .progress-heading,
    .dedication-heading {
        font-size: 40px;
        line-height: 45px;
    }
    .find-heading,
    .fund-heading,
    .progress-heading {
        -ms-flex: 0 0 250px;
        flex: 0 0 250px;
    }
    .fund-table {
        width: 86%;
    }
    .pic4,
    .pic5 {
        height: 68vh;
    }
    .dedication-container {
        padding: 0 20px;
    }
    .dedication-heading {
        width: 40%;
    }
    .phase1-pgraph,
    .phase1-subheading,
    .source-pgraph {
        font-size: 20px;
        line-height: 25px;
    }
    .source-heading {
        font-size: 35px;
        line-height: 35px;
    }
    .source-subheading1 {
        font-size: 18px;
        line-height: 23px;
    }
    .social-media-text {
        font-size: 16px;
        line-height: 16px;
    }
    .social-icon-link img {
        width: 1.3rem;
    }
}


/* ----------- S Tab 10.1 Potrait ----------- */

@media screen and ( max-width: 800px) and (max-height: 1140px) {
    .text-block,
    .link,
    .paragraph,
    .page2-heading {
        font-size: 35px;
        line-height: 1.2em;
    }
    .pic4,
    .pic5 {
        height: 60vh;
        background-position: 50% 100%;
        background-size: cover;
    }
    .page4-container,
    .page5-container {
        height: 40vh;
    }
    .page4-pgraph,
    .page5-pgraph {
        padding-right: 0;
    }
    .pic6,
    .pic7 {
        height: 75vh;
        background-position: 50% 100%;
    }
    .land-pgraph {
        width: 100%;
    }
    .page4-container,
    .page5-container,
    .land-container,
    .land-container2 {
        position: static;
    }
    .raise-container {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .land-pgraph,
    .land-pgraph2,
    .raise-pgraph,
    .process-pgraph,
    .d1-pgraph,
    .d2-pgraph,
    .d3-pgraph,
    .d4-pgraph,
    .d5-pgraph,
    .d6-pgraph,
    .d7-pgraph {
        font-size: 25px;
        line-height: 1.2em;
    }
    .fund-table th,
    .fund-table td {
        font-size: 30px;
        line-height: 1.2em;
    }
    .heading,
    .find-heading,
    .fund-heading,
    .raise-heading .progress-heading,
    .dedication-heading {
        font-size: 55px;
        line-height: 1.1em;
    }
    .find-pgraph,
    .fund-pgraph,
    .progress-pgraph {
        font-size: 28px;
        line-height: 1.2em;
    }
    .dedication-heading,
    .phase1-container {
        width: 80%;
    }
    .phase1-heading,
    .source-heading {
        font-size: 60px;
        line-height: 1em;
    }
    .source-heading,
    .source-pgraph {
        padding: 0 70px;
    }
    .phase1-pgraph,
    .phase1-subheading,
    .source-pgraph {
        font-size: 35px;
        line-height: 1.2em;
    }
    .source-subheading1 {
        font-size: 30px;
        line-height: 1em;
    }
}


/* ----------- iPad Potrait----------- */

@media screen and ( max-width: 768px) {
    .pic5 {
        background-position: 50% 0%;
    }
    .dedication-heading {
        width: 70%;
    }
    .phase1-container {
        width: 85%;
    }
    .source-container {
        width: 100%;
    }
    .w-container {
        max-width: 95%;
    }
    .raise-heading, .heading, .find-heading, .fund-heading, .progress-heading, .dedication-heading {
        font-size: 50px;
        line-height: 1em;
    }
    .find-heading, .fund-heading, .progress-heading {
        -ms-flex: 0 0 180px;
            flex: 0 0 180px;
    }
    .page5-pgraph, .land-pgraph2 {
        width: 95%;
    }
    .fund-table {
        margin: 30px auto;
    }
    .page4 {
        margin-bottom: 30px;
    }
}

@media (max-width: 479px) {
    ._1-intro {
        padding-top: 80%;
    }
    .intro-pgraph {
        padding-right: 30px;
        padding-left: 30px;
        font-size: 20px;
        line-height: 25px;
    }
    ._2-intro {
        padding-top: 80%;
    }
    ._3-intro {
        padding-top: 80%;
    }
    .page1 {
        background-color: #141e28;
        background-position: 50% 40%;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .page1-container {
        position: static;
        left: 0px;
        right: 0px;
        bottom: 5%;
        width: 90%;
        padding-right: 0px;
        padding-left: 0px;
        background-color: #fff;
    }
    .paragraph {
        font-size: 20px;
        line-height: 25px;
    }
    .heading {
        margin-bottom: 5px;
        line-height: 40px;
    }
    .page2 {
        background-position: 34% 50%;
    }
    .page2-container {
        bottom: 35%;
    }
    .page3 {
        padding-bottom: 20px;
    }
    .page3-container {
        position: static;
        bottom: 10%;
        width: 90%;
        padding-right: 0px;
        padding-left: 0px;
        background-color: #fff;
    }
    .page4-pgraph {
        padding: 0px 0px 0px 15px;
        border-style: none;
        font-size: 16px;
        line-height: 20px;
        text-align: left;
    }
    .raise4 {
        padding-bottom: 0px;
    }
    .raise5 {
        padding-bottom: 0px;
    }
    .page-dedication {
        padding-top: 70%;
    }
    .page5-container {
        border-style: none;
    }
    .page5-pgraph {
        padding: 0px 0px 0px 15px;
        font-size: 16px;
        line-height: 20px;
        text-align: left;
    }
    .land-container {
        width: 90%;
    }
    .find-pgraph {
        padding-right: 0px;
        padding-left: 0px;
        font-size: 16px;
        line-height: 20px;
    }
    .land-pgraph2 {
        font-size: 16px;
        line-height: 20px;
        text-align: left;
    }
    .process-pgraph {
        font-size: 16px;
        line-height: 20px;
    }
    .process6 {}
    .process11 {}
    .raise-container {
        padding-right: 0px;
        padding-left: 0px;
    }
    .fund-pgraph {
        font-size: 16px;
    }
    .fund-heading {
        font-size: 40px;
        line-height: 45px;
        text-align: left;
    }
    .fund-container {
        padding-right: 30px;
        padding-left: 30px;
    }
    .find-container {
        padding-right: 20px;
        padding-left: 30px;
    }
    .find-heading {
        font-size: 40px;
        line-height: 45px;
        text-align: left;
    }
    .land-pgraph {
        padding-right: 0px;
        padding-left: 0px;
        font-size: 16px;
        line-height: 20px;
    }
    .progress-heading {
        margin-bottom: 5px;
        font-size: 40px;
        line-height: 40px;
        text-align: left;
    }
    .raise-heading {
        font-size: 40px;
        line-height: 45px;
    }
    .dedication-container {
        padding-right: 20px;
        padding-left: 30px;
    }
    .dedication-heading {
        padding-right: 0px;
        padding-left: 0px;
        font-size: 40px;
        line-height: 40px;
        text-align: left;
    }
    .progress-pgraph {
        font-size: 16px;
        line-height: 20px;
    }
    .phase1-end {
        padding-top: 35%;
    }
    .phase1-heading {
        padding-left: 15px;
        font-size: 45px;
        line-height: 45px;
        text-align: left;
    }
    .phase1-pgraph {
        padding-right: 5px;
        padding-left: 15px;
        font-size: 18px;
        line-height: 23px;
        text-align: left;
    }
    .paged1 {
        padding-bottom: 10px;
    }
    .paged2 {}
    .d1-pgraph {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 16px;
        line-height: 20px;
    }
    .d2-container {
        width: 90%;
    }
    .d2-pgraph {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 16px;
        line-height: 20px;
    }
    .d3-container {
        width: 90%;
    }
    .d3-pgraph {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 16px;
        line-height: 20px;
    }
    .d4-pgraph {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 16px;
        line-height: 20px;
    }
    .d5-container {
        width: 65%;
    }
    .d5-pgraph {
        font-size: 16px;
        line-height: 20px;
    }
    .d6-container {
        width: 90%;
    }
    .d6-pgraph {
        font-size: 16px;
        line-height: 20px;
    }
    .d7-container {
        width: 70%;
    }
    .d7-pgraph {
        font-size: 16px;
        line-height: 20px;
    }
    .raise-pgraph {
        font-size: 16px;
        line-height: 20px;
    }
    .raise-container {
        width: 90%;
    }
    .pic1 {
        height: 300px;
        margin-bottom: 20px;
    }
    .pic5 {
        height: 300px;
        background-size: cover;
    }
    .pic3 {
        height: 300px;
        margin-bottom: 20px;
        background-position: 50% 50%;
        background-size: cover;
    }
    .pic4 {
        height: 300px;
        background-position: 50% 50%;
    }
    .pic6 {
        height: 300px;
        background-position: 100% 50%;
    }
    .pic7 {
        height: 300px;
    }
    .pic8 {
        height: 200px;
        background-position: 50% 0px;
        background-size: contain;
    }
    .pic9 {
        height: 230px;
        background-size: contain;
    }
    .pic10 {
        height: 250px;
        background-size: contain;
    }
    .pic11 {
        height: 250px;
        background-size: cover;
    }
    .pic12 {
        height: 500px;
        background-size: cover;
    }
    .pic13 {
        height: 300px;
        background-position: 100% 50%;
        background-size: cover;
    }
    .process1-pic {
        height: 220px;
        background-position: 50% 50%;
        background-size: cover;
    }
    .process2-pic {
        height: 220px;
        background-position: 50% 50%;
    }
    .process3-pic {
        height: 250px;
        background-position: 50% 50%;
        background-size: cover;
    }
    .process4-pic {
        height: 220px;
        background-size: cover;
    }
    .process5-pic {
        height: 220px;
    }
    .process6-pic {
        height: 220px;
        background-position: 0px 50%;
        background-size: cover;
    }
    .process7-pic {
        height: 220px;
    }
    .process8-pic {
        height: 220px;
    }
    .process9-pic {
        height: 220px;
    }
    .process10-pic {
        height: 220px;
    }
    .process11-pic {
        height: 220px;
    }
    .picd1 {
        height: 200px;
        background-position: 50% 50%;
    }
    .picd2 {
        height: 200px;
        margin-bottom: 10px;
        background-size: contain;
    }
    .picd3 {
        height: 200px;
        background-position: 50% 50%;
        background-size: cover;
    }
    .picd4 {
        height: 200px;
    }
    .picd5 {
        height: 200px;
    }
    .picd6 {
        height: 200px;
    }
    .picd7 {
        height: 200px;
    }
    .phase1-subheading {
        padding-left: 15px;
        font-size: 18px;
        line-height: 23px;
        text-align: left;
    }
    .source {
        padding-bottom: 80px;
    }
    .source-container {
        padding-right: 30px;
        padding-left: 30px;
    }
    .source-heading {
        font-size: 30px;
        line-height: 35px;
        font-weight: 400;
        text-align: left;
    }
    .source-div {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .source-pgraph {
        text-align: left;
    }
}
